In [4]:
import pandas as pd
import numpy as np
#Perfomance
perfomance = r'D:\python\04-Performance Agen-070425.xlsx'  # Menggunakan garis miring ganda
performance = pd.read_excel(perfomance, sheet_name= '20250407',header= [1])  # Menggunakan path file ini kalo mau headerubah nama sesuai sheet

detail_transaction2 = r'D:\ABS\10042025\trx ABS s.d 10042025_Data_New.xlsx' ###data sebelumnya
#detail_transaction2 = pd.read_csv(detail_transaction2)
detail_transaction2  = pd.read_excel(detail_transaction2 , sheet_name= 'DetailTrxABS 01-19') 

detail_transaction2= detail_transaction2.rename(columns={'Concatenate': 'Reg_dist'})

eda =  r'D:\python\Raw EDA.xlsx' 
eda_trx = pd.read_excel(eda, sheet_name= 'trx')  # Menggunakan path file ini kalo mau headerubah nama sesuai sheet
eda_master1 = pd.read_excel(eda, sheet_name= 'master deck 1-15') 
eda_master2 = pd.read_excel(eda, sheet_name= 'master deck 16-31') 
eda_kumkur = pd.read_excel(eda, sheet_name= 'kumkur') 
descript = r'D:\python\descript.xlsx'
descript = pd.read_excel(descript) 


##tambnahan cek
#eda1 =  r'D:\python\Raw EDA (32).xlsx' 

#######________________________Otak atik EDA
#eda_master1a = pd.read_excel(eda1, sheet_name= 'master deck 1-15')

In [5]:
file_path2 = r'D:\python\DRR_.xlsx' # Ganti dengan path yang diinginkan

In [6]:
# Data urut yang ingin ditambahkan sebagai kolom 'freq_inp'
freq_inp_data = [0,11,3,8,1,3,1,10,0,0,0,4,1,3,1,0,1,0]

In [7]:
eda_trx= eda_trx.rename(columns={'Jenis': 'Tagging'})

# Buat pivot table dengan menambahkan kolom TANGGAL_TRANSAKSI
eda_trx2 = eda_trx[eda_trx['Tagging'] == 'AGEN']
eda_trx3 = eda_trx[eda_trx['Tagging'] == 'AGEN']

tanggal_terakhir = eda_trx2['periode'].max()
#tanggal_tertentu = '18032025'
# Memfilter data berdasarkan tanggal maksimum
eda_trx2 = eda_trx2[eda_trx2['periode'] == tanggal_terakhir]
#eda_trx2 = eda_trx2[eda_trx2['periode'] == tanggal_terakhir]
pivot_trxd = pd.pivot_table(
    eda_trx2,
    index=['periode', 'kode_agen'],  # Menambahkan TANGGAL_TRANSAKSI ke dalam indeks
    values=['frek', 'sv'],
    aggfunc='sum'
).reset_index()
#print(pivot_trxd)

In [8]:
pivot_trxm = pd.pivot_table(
    eda_trx3,
    index=['periode', 'kode_agen'],  # Menambahkan TANGGAL_TRANSAKSI ke dalam indeks
    values=['frek', 'sv'],
    aggfunc='sum'
).reset_index()
#print(pivot_trxm)

In [9]:
selected_columns = ['Kode Agen', 'Jenis', 'Tools', 'District', 'Region']
data_trxd= performance[selected_columns]
data_trxd= data_trxd.rename(columns={'Jenis': 'Tagging'})
data_trxm = data_trxd.copy()
#print(data_trxm)

In [10]:
#>>>>>>>>>>>'''''''''''''''''''''Daily''''''''''''''''''''''''''''''''''<<<<<<<<<<<<<<<<<<
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingd = pivot_trxd.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['frek'] = data_trxd['Kode Agen'].map(tools_mappingd)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingd = pivot_trxd.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['sv'] = data_trxd['Kode Agen'].map(tools_mappingd)

#print(data_trxd)

In [11]:
#pivot_trxm.head()
# Menggunakan groupby untuk menjumlahkan frek dan sv berdasarkan kode_agen
pivot_trxm = pivot_trxm.groupby('kode_agen')[['frek', 'sv']].sum().reset_index()
#print(pivot_trxm)

In [12]:
#>>>>>>>>>>>'''''''''''''''''''''Monthly''''''''''''''''''''''''''''''''''<<<<<<<<<<<<<<<<<<
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingm = pivot_trxm.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['frek'] = data_trxm['Kode Agen'].map(tools_mappingm)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingm = pivot_trxm.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['sv'] = data_trxm['Kode Agen'].map(tools_mappingm)

#print(data_trxm)

In [13]:

data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2m = pivot_trxm.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['frek'] = data_trxm['Kode Agen'].map(tools_mapping2m)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2m = pivot_trxm.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['sv'] = data_trxm['Kode Agen'].map(tools_mapping2m)

#print(data_trx)

def determine_tier1(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 50:
        return '26-50 TRX'
    elif 51 <= frek <= 70:
        return '51-70 TRX'
    elif 71 <= frek <= 99:
        return '71-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_akhir' berdasarkan kondisi 'frek'
data_trxm['tier_akhir'] = data_trxm['frek'].apply(determine_tier1)

# Fungsi untuk menentukan tier_awal berdasarkan 'frek'
def determine_tier2(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 45:
        return '26-45 TRX'
    elif 46 <= frek <= 99:
        return '46-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_awal' berdasarkan kondisi 'frek'
data_trxm['tier_awal'] = data_trxm['frek'].apply(determine_tier2)


def determine_trx3(frek):
    if frek > 0:
        return 'Bertransaksi'
    else:
        return 'Tidak Bertransaksi'

# Menambahkan kolom 'tier_trx' berdasarkan kondisi 'frek'
data_trxm['tier_trx'] = data_trxm['frek'].apply(determine_trx3)

# Menampilkan hasil
#print(data_trxm)

In [14]:
data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
data_trxm = data_trxm[data_trxm['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_monthly = pd.pivot_table(
    data_trxm,
    index=['Region', 'District'],  # Kolom index
    columns='tier_akhir',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()



##tambah column
sum_row = pivot_trx_monthly.iloc[1][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']] + pivot_trx_monthly.iloc[2][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
sum_row2 = pivot_trx_monthly.iloc[7][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]+ pivot_trx_monthly.iloc[8][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
sum_row3 = pivot_trx_monthly.iloc[9][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']] + pivot_trx_monthly.iloc[10][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom
pivot_trx_monthly.loc['Total'] = pivot_trx_monthly.sum(numeric_only=True)

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:1], sum_row.to_frame().T, pivot_trx_monthly.iloc[1:]], ignore_index=True)

pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:8], sum_row2.to_frame().T, pivot_trx_monthly.iloc[8:]], ignore_index=True)

pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:11], sum_row3.to_frame().T, pivot_trx_monthly.iloc[11:]], ignore_index=True)






# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_monthly['Total'] = pivot_trx_monthly.drop(columns=['Region', 'District']).sum(axis=1)

# Menampilkan hasil pivot table
#print(pivot_trx_monthly)

In [15]:
#______________________________Daily____________________________________________

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2d = pivot_trxd.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['frek'] = data_trxd['Kode Agen'].map(tools_mapping2d)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2d = pivot_trxd.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['sv'] = data_trxd['Kode Agen'].map(tools_mapping2d)

#print(data_trx)

def determine_tier4(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 50:
        return '26-50 TRX'
    elif 51 <= frek <= 70:
        return '51-70 TRX'
    elif 71 <= frek <= 99:
        return '71-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_akhir' berdasarkan kondisi 'frek'
data_trxd['tier_akhir'] = data_trxd['frek'].apply(determine_tier4)

# Fungsi untuk menentukan tier_awal berdasarkan 'frek'
def determine_tier5(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 45:
        return '26-45 TRX'
    elif 46 <= frek <= 99:
        return '46-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_awal' berdasarkan kondisi 'frek'
data_trxd['tier_awal'] = data_trxd['frek'].apply(determine_tier5)


def determine_trx6(frek):
    if frek > 0:
        return 'Bertransaksi'
    else:
        return 'Tidak Bertransaksi'

# Menambahkan kolom 'tier_trx' berdasarkan kondisi 'frek'
data_trxd['tier_trx'] = data_trxd['frek'].apply(determine_trx6)

# Menampilkan hasil
#print(data_trx)

In [16]:
data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
data_trxm = data_trxm[data_trxm['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_monthly2 = pd.pivot_table(
    data_trxm,
    index=['Region', 'District'],  # Kolom index
    columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()



##tambah column
sum_row = pivot_trx_monthly2.iloc[1][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_monthly2.iloc[2][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row2 = pivot_trx_monthly2.iloc[7][['Bertransaksi', 'Tidak Bertransaksi']]+ pivot_trx_monthly2.iloc[8][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row3 = pivot_trx_monthly2.iloc[9][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_monthly2.iloc[10][['Bertransaksi', 'Tidak Bertransaksi']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom
pivot_trx_monthly2.loc['Total'] = pivot_trx_monthly2.sum(numeric_only=True)

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:1], sum_row.to_frame().T, pivot_trx_monthly2.iloc[1:]], ignore_index=True)

pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:8], sum_row2.to_frame().T, pivot_trx_monthly2.iloc[8:]], ignore_index=True)

pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:11], sum_row3.to_frame().T, pivot_trx_monthly2.iloc[11:]], ignore_index=True)






# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_monthly2['Total'] = pivot_trx_monthly2.drop(columns=['Region', 'District']).sum(axis=1)
pivot_trx_monthly2['%']= pivot_trx_monthly2['Bertransaksi']/pivot_trx_monthly2['Total']
# Menampilkan hasil pivot table
#print(pivot_trx_monthly2)

In [17]:
data_trxd = data_trxd[data_trxd['Tagging'] == 'AGEN']
data_trxd = data_trxd[data_trxd['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_daily2 = pd.pivot_table(
    data_trxd,
    index=['Region', 'District'],  # Kolom index
    columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_trx_daily2.iloc[1][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_daily2.iloc[2][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row2 = pivot_trx_daily2.iloc[7][['Bertransaksi', 'Tidak Bertransaksi']]+ pivot_trx_daily2.iloc[8][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row3 = pivot_trx_daily2.iloc[9][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_daily2.iloc[10][['Bertransaksi', 'Tidak Bertransaksi']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_trx_daily2.loc['Total'] = pivot_trx_daily2.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:1], sum_row.to_frame().T, pivot_trx_daily2.iloc[1:]], ignore_index=True)

pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:8], sum_row2.to_frame().T, pivot_trx_daily2.iloc[8:]], ignore_index=True)

pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:11], sum_row3.to_frame().T, pivot_trx_daily2.iloc[11:]], ignore_index=True)



# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_daily2['Total'] = pivot_trx_daily2.drop(columns=['Region', 'District']).sum(axis=1)
pivot_trx_daily2['%']= pivot_trx_daily2['Bertransaksi']/pivot_trx_daily2['Total']


# Menampilkan hasil pivot table
#print(pivot_trx_daily2)

In [18]:
#__________________________EDA trx_____________________________________

eda_trx = eda_trx[eda_trx['Tagging'] == 'AGEN']
eda_trx = eda_trx[eda_trx['tools'].isin(['EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_eda = pd.pivot_table(
    eda_trx,
    index=['Region', 'District'],  # Kolom index
    #columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values=['frek','sv'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

pivot_trx_eda.loc['Total'] = pivot_trx_eda.select_dtypes(include='number').sum()

##tambah column
sum_row = pivot_trx_eda.iloc[1][['frek', 'sv']] + pivot_trx_eda.iloc[2][['frek', 'sv']]
sum_row2 = pivot_trx_eda.iloc[7][['frek', 'sv']] + pivot_trx_eda.iloc[8][['frek', 'sv']]
sum_row3 = pivot_trx_eda.iloc[9][['frek', 'sv']] + pivot_trx_eda.iloc[10][['frek', 'sv']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:1], sum_row.to_frame().T, pivot_trx_eda.iloc[1:]], ignore_index=True)

pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:8], sum_row2.to_frame().T, pivot_trx_eda.iloc[8:]], ignore_index=True)

pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:11], sum_row3.to_frame().T, pivot_trx_eda.iloc[11:]], ignore_index=True)


#print(pivot_trx_eda)
# Periksa apakah jumlah data dalam freq_inp_data sesuai dengan jumlah baris di pivot_trx_eda
if len(freq_inp_data) == len(pivot_trx_eda) - 1:  # -1 untuk baris 'Total'
    # Menambahkan kolom 'freq_inp' ke pivot_trx_eda
    pivot_trx_eda['freq_inp'] = freq_inp_data + [None]  # Tambahkan None untuk baris 'Total'
else:
    print("Jumlah data 'freq_inp' tidak sesuai dengan jumlah baris di pivot_trx_eda")


pivot_trx_eda = pivot_trx_eda.assign(
    dat_fre1 = (pivot_trx_eda['frek'] + pivot_trx_eda['freq_inp'])/1000,
    dat_sv = pivot_trx_eda['sv'] / 1000000000
)
# Menampilkan hasil pivot table
#print(pivot_trx_eda)

In [19]:
#_____________________kumkur__________________________
eda_kumkur.columns

Index(['periode', 'kode_agen', 'Jenis', 'District', 'Region', 'flag_angsuran',
       'frek', 'tools'],
      dtype='object')

In [20]:
#______________________________________MTD_________________________________________

# Filter berdasarkan 'Jenis' == 'AGEN'
eda_kumkur = eda_kumkur[eda_kumkur['Jenis'] == 'AGEN']
eda_kumkur= eda_kumkur[eda_kumkur['flag_angsuran'] == 'KUM/KUR']
# Membuat pivot table
pivot_kumkur_m = pd.pivot_table(
    eda_kumkur,
    index=['Region', 'District'],  # Kolom index
    #columns='flag_angsuran',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values=['frek'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_kumkur_m.iloc[1][['frek']] + pivot_kumkur_m.iloc[2][['frek']]
sum_row2 = pivot_kumkur_m.iloc[7][['frek']] + pivot_kumkur_m.iloc[8][['frek']]
sum_row3 = pivot_kumkur_m.iloc[9][['frek']] + pivot_kumkur_m.iloc[10][['frek']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_kumkur_m.loc['Total'] = pivot_kumkur_m.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:1], sum_row.to_frame().T, pivot_kumkur_m.iloc[1:]], ignore_index=True)

pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:8], sum_row2.to_frame().T, pivot_kumkur_m.iloc[8:]], ignore_index=True)

pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:11], sum_row3.to_frame().T, pivot_kumkur_m.iloc[11:]], ignore_index=True)


#print(pivot_kumkur_m)

In [21]:
#______________________________________daily_________________________________________

# Filter berdasarkan 'Jenis' == 'AGEN'
tanggal_terakhir = eda_kumkur['periode'].max()

# Memfilter data berdasarkan tanggal maksimum
eda_kumkur2 = eda_kumkur[eda_kumkur['periode'] == tanggal_terakhir]

# Membuat pivot table
pivot_kumkur_d = pd.pivot_table(
    eda_kumkur2,
    index=['Region', 'District'],  # Kolom index
    #columns='flag_angsuran',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values=['frek'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_kumkur_d.iloc[1][['frek']] + pivot_kumkur_d.iloc[2][['frek']]
sum_row2 = pivot_kumkur_d.iloc[7][['frek']] + pivot_kumkur_d.iloc[8][['frek']]
sum_row3 = pivot_kumkur_d.iloc[9][['frek']] + pivot_kumkur_d.iloc[10][['frek']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_kumkur_d.loc['Total'] = pivot_kumkur_d.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:1], sum_row.to_frame().T, pivot_kumkur_d.iloc[1:]], ignore_index=True)

pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:8], sum_row2.to_frame().T, pivot_kumkur_d.iloc[8:]], ignore_index=True)

pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:11], sum_row3.to_frame().T, pivot_kumkur_d.iloc[11:]], ignore_index=True)


#print(pivot_kumkur_d)

In [22]:
eda_master1.shape[0]

252169

In [23]:
####___________________________________________>>>>>>>>>>>>>>>>>>>>>>>>>>LiHAT INIIIII<<<<<<<<<<<<<<<<<<<<<<___________________________
####_____________________________________________________________________________________________________________________________________
####_____________________________________________________________________________________________________________________________________

In [24]:
combined_master = pd.concat([eda_master1, eda_master2], ignore_index=True)
print(combined_master.columns)

Index(['periode', 'kode_agen', 'Jenis', 'District', 'Region', 'kode_transaksi',
       'jenis_transaksi', 'frek', 'sv', 'tools'],
      dtype='object')

In [25]:
####_____________________________________________________________________________________________________________________________________

In [26]:
####_____________________________________________________________________________________________________________________________________

In [27]:
####_____________________________________________________________________________________________________________________________________

In [28]:
descript = r'D:\python\descript.xlsx'
descript = pd.read_excel(descript)

In [29]:
# Buat dictionary yang memetakan 'Kode Agen' ke 'KC'
descript_mapping = descript.set_index('kodtran')['desc'].to_dict()
# Tambahkan kolom 'KC' ke transaction1 menggunakan mapping
combined_master['descript'] = combined_master['kode_transaksi'].map(descript_mapping)
# Pindahkan kolom 'Cek Gaming' ke posisi 21
combined_master.insert(7, 'descript', combined_master.pop('descript'))


#combined_master['reg_dist'] = combined_master['Region'] + '-' + combined_master['District']
#combined_master.insert(3, 'reg_dist', combined_master.pop('reg_dist'))

print(combined_master)

         periode kode_agen Jenis             District  \
0       20250401   1103051  AGEN         non-District
1       20250401   1100317  AGEN    District Surabaya
2       20250401   1102989  AGEN  District Yogyakarta
3       20250401   1105053  AGEN         non-District
4       20250401   1102709  AGEN    District Semarang
...          ...       ...   ...                  ...
252164  20250407   1279373  AGEN         non-District
252165  20250407   1186056  AGEN    District Semarang
252166  20250407   1185864  AGEN         non-District
252167  20250407   1296012  AGEN         non-District
252168  20250407   1217079  AGEN         non-District

                                 Region kode_transaksi  \
0                  K01-WILAYAH I/ MEDAN           8060
1            K08-WILAYAH VIII/ SURABAYA           7922
2             K07-WILAYAH VII/ SEMARANG           1231
3       K05-WILAYAH V/ JAKARTA SUDIRMAN           8060
4             K07-WILAYAH VII/ SEMARANG           1231
...                                 ...            ...
252164      K09-WILAYAH IX/ BANJARMASIN           9913
252165        K07-WILAYAH VII/ SEMARANG           9913
252166      K09-WILAYAH IX/ BANJARMASIN           7885
252167          K06-WILAYAH VI/ BANDUNG           9924
252168        K12-WILAYAH XII/ JAYAPURA           7885

                                   jenis_transaksi           descript frek  \
0       Transfer Cash (Beneficiary Bifast Network)           TRANSFER    1
1                                          Cash In        SETOR TUNAI    1
2                       Payment Cash - Dana Top Up  PEMBAYARAN BILLER    6
3       Transfer Cash (Beneficiary Bifast Network)           TRANSFER    2
4                       Payment Cash - Dana Top Up  PEMBAYARAN BILLER    1
...                                            ...                ...  ...
252164                   TRANSFER (SESAMA MANDIRI)           TRANSFER    2
252165                   TRANSFER (SESAMA MANDIRI)           TRANSFER    1
252166            EDC TRANSFER ATMB (ATMB TO BMRI)           TRANSFER    3
252167                        EDC TARIK TUNAI AGEN        TARIK TUNAI    3
252168            EDC TRANSFER ATMB (ATMB TO BMRI)           TRANSFER    1

             sv tools
0       1500000   ABS
1        300000   ABS
2        530000   ABS
3        200000   ABS
4        100000   ABS
...         ...   ...
252164  1845000   EDC
252165  1670000   EDC
252166   460000   EDC
252167  3260000   EDC
252168   300000   EDC

[252169 rows x 11 columns]

In [30]:
combined_master['descript'].unique()

array(['TRANSFER', 'SETOR TUNAI', 'PEMBAYARAN BILLER',
       'PEMBAYARAN PINJAMAN', 'TARIK TUNAI', 'OTHERS',
       'PEMBAYARAN KARTU KREDIT'], dtype=object)

In [31]:
# Membuat pivot table
pivot_master = pd.pivot_table(
    combined_master,
    index=['Region', 'District'], # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_master.loc['Total'] = pivot_master.select_dtypes(include='number').sum()

print(pivot_master)

descript                           Region             District   OTHERS  \
0                    K01-WILAYAH I/ MEDAN         non-District   1844.0
1               K02-WILAYAH II/ PALEMBANG       District Jambi    370.0
2               K02-WILAYAH II/ PALEMBANG   District Palembang    694.0
3           K03-WILAYAH III/ JAKARTA KOTA         non-District   2074.0
4         K04-WILAYAH IV/ JAKARTA THAMRIN         non-District    880.0
5         K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District    906.0
6                 K06-WILAYAH VI/ BANDUNG         non-District   6271.0
7               K07-WILAYAH VII/ SEMARANG    District Semarang   1172.0
8               K07-WILAYAH VII/ SEMARANG  District Yogyakarta   1381.0
9              K08-WILAYAH VIII/ SURABAYA      District Malang   1084.0
10             K08-WILAYAH VIII/ SURABAYA    District Surabaya    557.0
11            K09-WILAYAH IX/ BANJARMASIN         non-District   1632.0
12                K10-WILAYAH X/ MAKASSAR         non-District   1928.0
13               K11-WILAYAH XI/ DENPASAR         non-District    640.0
14              K12-WILAYAH XII/ JAYAPURA         non-District    477.0
Total                                 NaN                  NaN  21910.0

descript  PEMBAYARAN BILLER  PEMBAYARAN KARTU KREDIT  PEMBAYARAN PINJAMAN  \
0                   31547.0                     19.0                 53.0
1                   10111.0                      4.0                198.0
2                   18720.0                      0.0                 29.0
3                   14251.0                      4.0                 49.0
4                    5659.0                      1.0                  1.0
5                   10820.0                      0.0                  4.0
6                   60881.0                     20.0                 58.0
7                   12053.0                      4.0                 19.0
8                    7962.0                      1.0                 27.0
9                   11744.0                      4.0                 68.0
10                   8465.0                      3.0                 23.0
11                  19251.0                    449.0                 26.0
12                  12666.0                     12.0                103.0
13                  13016.0                      2.0                  9.0
14                   6940.0                      0.0                 13.0
Total              244086.0                    523.0                680.0

descript  SETOR TUNAI  TARIK TUNAI  TRANSFER
0              5973.0      17321.0   51132.0
1              2556.0       2126.0    8411.0
2              3614.0       3928.0   17193.0
3              1685.0        951.0    4947.0
4               958.0       1039.0    4618.0
5              1483.0       2843.0    6994.0
6              7345.0      24502.0   50226.0
7              3917.0       6925.0   12330.0
8              1878.0       3851.0    7196.0
9              2461.0       2985.0   12742.0
10             1948.0       3164.0    6284.0
11             4881.0      14414.0   40858.0
12             3712.0       9533.0   34675.0
13             2239.0       2933.0   13270.0
14             2844.0       1054.0   12761.0
Total         47494.0      97569.0  283637.0

C:\Users\user\AppData\Local\Temp\ipykernel_19368\49530667.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_master = pd.pivot_table(

In [32]:
#perbankan
perbankan = pivot_master.reindex(columns=['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Total perbankan')


# Menjumlahkan nilai di setiap baris
biller = pivot_master.reindex(columns=['PEMBAYARAN BILLER', 'OTHERS'], fill_value=0).sum(axis=1).astype('int64')
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
biller = biller.to_frame(name='Total biller')

#perbankan
pembayaran = pivot_master.reindex(columns=['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT'], fill_value=0).sum(axis=1).astype('int64')
pembayaran = pembayaran.to_frame(name='Total pembayaran')

# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_deck= pd.concat([pivot_master, biller, perbankan, pembayaran ], axis=1)
selected = ['Region', 'District', 'Total biller', 'Total perbankan', 'Total pembayaran']
mtd_deck= mtd_deck[selected]
#print(mtd_deck)

##tambah column
sum_row4 = mtd_deck.iloc[1][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[2][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row5 = mtd_deck.iloc[7][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[8][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row6 = mtd_deck.iloc[9][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[10][['Total biller', 'Total perbankan', 'Total pembayaran']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row4['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row5['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row6['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


###
# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_deck = pd.concat([mtd_deck.iloc[:1], sum_row4.to_frame().T, mtd_deck.iloc[1:]], ignore_index=True)

mtd_deck = pd.concat([mtd_deck.iloc[:8], sum_row5.to_frame().T, mtd_deck.iloc[8:]], ignore_index=True)

mtd_deck = pd.concat([mtd_deck.iloc[:11], sum_row6.to_frame().T, mtd_deck.iloc[11:]], ignore_index=True)


#print(mtd_deck)

In [33]:
# Melakukan merge berdasarkan 'Region' dan 'District' untuk mendapatkan kolom 'frek'
mtd_deck_final = mtd_deck.merge(pivot_kumkur_m[['Region', 'District', 'frek']], 
                                on=['Region', 'District'], 
                                how='left')

# Hapus kolom 'frek' yang duplikat setelah merge
mtd_deck_final = mtd_deck_final.loc[:, ~mtd_deck_final.columns.duplicated()]

# Memindahkan kolom 'frek' ke posisi yang diinginkan
mtd_deck_final.insert(2, 'frek', mtd_deck_final.pop('frek'))

#print(mtd_deck_final)

In [129]:


mtd_deck_final.rename(columns={'frek': 'Pembayaran Pinjaman (KUM/KUR)'}, inplace=True)
mtd_deck_final.rename(columns={'Total biller': 'Biller'}, inplace=True)
mtd_deck_final.rename(columns={'Total perbankan': 'Perbankan'}, inplace=True)

mtd_deck_final['Pembayaran Pinjaman (Others)']= mtd_deck_final['Total pembayaran'] - mtd_deck_final['Pembayaran Pinjaman (KUM/KUR)']
mtd_deck_final.insert(3, 'Pembayaran Pinjaman (Others)', mtd_deck_final.pop('Pembayaran Pinjaman (Others)'))
mtd_deck_final.insert(4, 'Perbankan', mtd_deck_final.pop('Perbankan'))



#print(pivot_trx_eda)
# Periksa apakah jumlah data dalam freq_inp_data sesuai dengan jumlah baris di pivot_trx_eda
if len(freq_inp_data) == len(mtd_deck_final) - 1:  # -1 untuk baris 'Total'
    # Menambahkan kolom 'freq_inp' ke pivot_trx_eda
    mtd_deck_final['freq_inp'] = freq_inp_data + [None]  # Tambahkan None untuk baris 'Total'
else:
    print("Jumlah data 'freq_inp' tidak sesuai dengan jumlah baris di pivot_trx_eda")


mtd_deck_final2 = mtd_deck_final.assign(
    Perbankan = mtd_deck_final['Perbankan'] + mtd_deck_final['freq_inp'],
)



#print(mtd_deck_final2)

                             Region             District  \
0              K01-WILAYAH I/ MEDAN         non-District
1         K02-WILAYAH II/ PALEMBANG                  NaN
2         K02-WILAYAH II/ PALEMBANG       District Jambi
3         K02-WILAYAH II/ PALEMBANG   District Palembang
4     K03-WILAYAH III/ JAKARTA KOTA         non-District
5   K04-WILAYAH IV/ JAKARTA THAMRIN         non-District
6   K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District
7           K06-WILAYAH VI/ BANDUNG         non-District
8         K07-WILAYAH VII/ SEMARANG                  NaN
9         K07-WILAYAH VII/ SEMARANG    District Semarang
10        K07-WILAYAH VII/ SEMARANG  District Yogyakarta
11       K08-WILAYAH VIII/ SURABAYA                  NaN
12       K08-WILAYAH VIII/ SURABAYA      District Malang
13       K08-WILAYAH VIII/ SURABAYA    District Surabaya
14      K09-WILAYAH IX/ BANJARMASIN         non-District
15          K10-WILAYAH X/ MAKASSAR         non-District
16         K11-WILAYAH XI/ DENPASAR         non-District
17        K12-WILAYAH XII/ JAYAPURA         non-District
18                              NaN                  NaN

   Pembayaran Pinjaman (KUM/KUR) Pembayaran Pinjaman (Others) Perbankan  \
0                           52.0                         20.0   74426.0
1                            NaN                          NaN   37839.0
2                          192.0                         10.0   13096.0
3                           28.0                          1.0   24743.0
4                           49.0                          4.0    7584.0
5                            1.0                          1.0    6618.0
6                            3.0                          1.0   11321.0
7                           53.0                         25.0   82083.0
8                            NaN                          NaN   36097.0
9                           19.0                          4.0   23172.0
10                          27.0                          1.0   12925.0
11                           NaN                          NaN   29588.0
12                          66.0                          6.0   18189.0
13                          22.0                          4.0   11399.0
14                          25.0                        450.0   60154.0
15                          96.0                         19.0   47920.0
16                           7.0                          4.0   18443.0
17                           9.0                          4.0   16659.0
18                         649.0                        554.0       NaN

    Biller Total pembayaran  freq_inp
0    33391               72       0.0
1    29895              231      11.0
2    10481              202       3.0
3    19414               29       8.0
4    16325               53       1.0
5     6539                2       3.0
6    11726                4       1.0
7    67152               78      10.0
8    22568               51       0.0
9    13225               23       0.0
10    9343               28       0.0
11   21850               98       4.0
12   12828               72       1.0
13    9022               26       3.0
14   20883              475       1.0
15   14594              115       0.0
16   13656               11       1.0
17    7417               13       0.0
18  265996             1203       NaN

In [153]:
mtd_deck_final3 = mtd_deck_final2.copy()

# Kolom yang akan diproses
columns_to_process = ['Pembayaran Pinjaman (KUM/KUR)', 'Pembayaran Pinjaman (Others)']

# Baris yang akan diproses (baris ke-2, ke-8, dan ke-11)
rows_to_process = [1, 8, 11]

# Mengisi NaN di kolom-kolom yang ditentukan pada baris yang ditentukan dengan jumlah dua data di bawahnya
for col in columns_to_process:
    for i in rows_to_process:
        if pd.isna(mtd_deck_final3.loc[i, col]):  # Jika nilai NaN di baris i dan kolom tertentu
            # Mengisi dengan penjumlahan dua data di bawahnya
            if i + 2 < len(mtd_deck_final3):  # Pastikan ada dua baris setelahnya
                mtd_deck_final3.loc[i, col] = mtd_deck_final3.loc[i + 1, col] + mtd_deck_final3.loc[i + 2, col]

# Menampilkan hasil yang telah diproses
print(mtd_deck_final3)

                             Region             District  \
0              K01-WILAYAH I/ MEDAN         non-District
1         K02-WILAYAH II/ PALEMBANG                  NaN
2         K02-WILAYAH II/ PALEMBANG       District Jambi
3         K02-WILAYAH II/ PALEMBANG   District Palembang
4     K03-WILAYAH III/ JAKARTA KOTA         non-District
5   K04-WILAYAH IV/ JAKARTA THAMRIN         non-District
6   K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District
7           K06-WILAYAH VI/ BANDUNG         non-District
8         K07-WILAYAH VII/ SEMARANG                  NaN
9         K07-WILAYAH VII/ SEMARANG    District Semarang
10        K07-WILAYAH VII/ SEMARANG  District Yogyakarta
11       K08-WILAYAH VIII/ SURABAYA                  NaN
12       K08-WILAYAH VIII/ SURABAYA      District Malang
13       K08-WILAYAH VIII/ SURABAYA    District Surabaya
14      K09-WILAYAH IX/ BANJARMASIN         non-District
15          K10-WILAYAH X/ MAKASSAR         non-District
16         K11-WILAYAH XI/ DENPASAR         non-District
17        K12-WILAYAH XII/ JAYAPURA         non-District
18                              NaN                  NaN

   Pembayaran Pinjaman (KUM/KUR) Pembayaran Pinjaman (Others) Perbankan  \
0                           52.0                         20.0   74426.0
1                          220.0                         11.0   37839.0
2                          192.0                         10.0   13096.0
3                           28.0                          1.0   24743.0
4                           49.0                          4.0    7584.0
5                            1.0                          1.0    6618.0
6                            3.0                          1.0   11321.0
7                           53.0                         25.0   82083.0
8                           46.0                          5.0   36097.0
9                           19.0                          4.0   23172.0
10                          27.0                          1.0   12925.0
11                          88.0                         10.0   29588.0
12                          66.0                          6.0   18189.0
13                          22.0                          4.0   11399.0
14                          25.0                        450.0   60154.0
15                          96.0                         19.0   47920.0
16                           7.0                          4.0   18443.0
17                           9.0                          4.0   16659.0
18                         649.0                        554.0       NaN

    Biller Total pembayaran  freq_inp
0    33391               72       0.0
1    29895              231      11.0
2    10481              202       3.0
3    19414               29       8.0
4    16325               53       1.0
5     6539                2       3.0
6    11726                4       1.0
7    67152               78      10.0
8    22568               51       0.0
9    13225               23       0.0
10    9343               28       0.0
11   21850               98       4.0
12   12828               72       1.0
13    9022               26       3.0
14   20883              475       1.0
15   14594              115       0.0
16   13656               11       1.0
17    7417               13       0.0
18  265996             1203       NaN

In [35]:
#daily
tanggal_terakhir = combined_master['periode'].max()

# Memfilter data berdasarkan tanggal maksimum
combined_masterd = combined_master[combined_master['periode'] == tanggal_terakhir]



# Membuat pivot table
pivot_masterd = pd.pivot_table(
    combined_masterd,
    index=['Region', 'District'], # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


#print(pivot_masterd)

C:\Users\user\AppData\Local\Temp\ipykernel_19368\1876282302.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_masterd = pd.pivot_table(

In [139]:

biller = ['PEMBAYARAN BILLER', 'OTHERS']
pembayaran = ['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT']
perbankan = ['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER']



#perbankan
perbankan = pivot_masterd.reindex(columns=['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Total perbankan')


# Menjumlahkan nilai di setiap baris
biller = pivot_masterd.reindex(columns=['PEMBAYARAN BILLER', 'OTHERS'], fill_value=0).sum(axis=1).astype('int64')
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
biller = biller.to_frame(name='Total biller')

#perbankan
pembayaran = pivot_masterd.reindex(columns=['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT'], fill_value=0).sum(axis=1).astype('int64')
pembayaran = pembayaran.to_frame(name='Total pembayaran')

# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_deckd= pd.concat([pivot_masterd, biller, perbankan, pembayaran ], axis=1)
selected = ['Region', 'District', 'Total perbankan', 'Total biller', 'Total pembayaran']
mtd_deckd= mtd_deckd[selected]

##tambah column
sum_row4 = mtd_deckd.iloc[1][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[2][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row5 = mtd_deckd.iloc[7][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[8][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row6 = mtd_deckd.iloc[9][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[10][['Total biller', 'Total perbankan', 'Total pembayaran']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row4['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row5['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row6['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
mtd_deckd.loc['Total'] = mtd_deckd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_deckd = pd.concat([mtd_deckd.iloc[:1], sum_row4.to_frame().T, mtd_deckd.iloc[1:]], ignore_index=True)

mtd_deckd = pd.concat([mtd_deckd.iloc[:8], sum_row5.to_frame().T, mtd_deckd.iloc[8:]], ignore_index=True)

mtd_deckd = pd.concat([mtd_deckd.iloc[:11], sum_row6.to_frame().T, mtd_deckd.iloc[11:]], ignore_index=True)



# Melakukan merge berdasarkan 'Region' dan 'District' untuk mendapatkan kolom 'frek'
mtd_deck_finald = mtd_deckd.merge(pivot_kumkur_d[['Region', 'District', 'frek']], 
                                on=['Region', 'District'], 
                                how='left')

# Hapus kolom 'frek' yang duplikat setelah merge
mtd_deck_finald = mtd_deck_finald.loc[:, ~mtd_deck_finald.columns.duplicated()]

# Memindahkan kolom 'frek' ke posisi yang diinginkan
mtd_deck_finald.insert(2, 'frek', mtd_deck_finald.pop('frek'))





mtd_deck_finald.insert(2, 'frek', mtd_deck_finald.pop('frek'))

mtd_deck_finald.rename(columns={'frek': 'Pembayaran Pinjaman (KUM/KUR)'}, inplace=True)
mtd_deck_finald.rename(columns={'Total biller': 'Biller'}, inplace=True)
mtd_deck_finald.rename(columns={'Total perbankan': 'Perbankan'}, inplace=True)

mtd_deck_finald['Pembayaran Pinjaman (Others)']= mtd_deck_finald['Total pembayaran']- mtd_deck_finald['Pembayaran Pinjaman (KUM/KUR)']

mtd_deck_finald.insert(2, 'Pembayaran Pinjaman (KUM/KUR)', mtd_deck_finald.pop('Pembayaran Pinjaman (KUM/KUR)'))
mtd_deck_finald.insert(3, 'Pembayaran Pinjaman (Others)', mtd_deck_finald.pop('Pembayaran Pinjaman (Others)'))




#print(mtd_deck_finald)

                             Region             District  \
0              K01-WILAYAH I/ MEDAN         non-District
1         K02-WILAYAH II/ PALEMBANG                  NaN
2         K02-WILAYAH II/ PALEMBANG       District Jambi
3         K02-WILAYAH II/ PALEMBANG   District Palembang
4     K03-WILAYAH III/ JAKARTA KOTA         non-District
5   K04-WILAYAH IV/ JAKARTA THAMRIN         non-District
6   K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District
7           K06-WILAYAH VI/ BANDUNG         non-District
8         K07-WILAYAH VII/ SEMARANG                  NaN
9         K07-WILAYAH VII/ SEMARANG    District Semarang
10        K07-WILAYAH VII/ SEMARANG  District Yogyakarta
11       K08-WILAYAH VIII/ SURABAYA                  NaN
12       K08-WILAYAH VIII/ SURABAYA      District Malang
13       K08-WILAYAH VIII/ SURABAYA    District Surabaya
14      K09-WILAYAH IX/ BANJARMASIN         non-District
15          K10-WILAYAH X/ MAKASSAR         non-District
16         K11-WILAYAH XI/ DENPASAR         non-District
17        K12-WILAYAH XII/ JAYAPURA         non-District
18                              NaN                  NaN

   Pembayaran Pinjaman (KUM/KUR) Pembayaran Pinjaman (Others) Perbankan  \
0                            7.0                          4.0   14561.0
1                            NaN                          NaN      7550
2                           32.0                          3.0    2593.0
3                            7.0                          0.0    4957.0
4                            3.0                          0.0    1639.0
5                            NaN                          NaN    1659.0
6                            1.0                          0.0    2199.0
7                           15.0                          6.0   15499.0
8                            NaN                          NaN      6518
9                            2.0                          1.0    4284.0
10                           2.0                          1.0    2234.0
11                           NaN                          NaN      5416
12                           9.0                          2.0    3217.0
13                           5.0                          0.0    2199.0
14                           9.0                          9.0   10739.0
15                          15.0                          2.0    7805.0
16                           NaN                          NaN    2726.0
17                           1.0                          0.0    2849.0
18                         108.0                         30.0   79160.0

     Biller Total pembayaran
0    5915.0             11.0
1      5048               42
2    1821.0             35.0
3    3227.0              7.0
4    3846.0              3.0
5    1478.0              1.0
6    2091.0              1.0
7   11477.0             21.0
8      3718                6
9    2231.0              3.0
10   1487.0              3.0
11     3819               16
12   2364.0             11.0
13   1455.0              5.0
14   3445.0             18.0
15   2255.0             17.0
16   1898.0              1.0
17   1062.0              1.0
18  46052.0            138.0

In [149]:
mtd_deck_finald2 = mtd_deck_finald.copy()

# Kolom yang akan diproses
columns_to_process = ['Pembayaran Pinjaman (KUM/KUR)', 'Pembayaran Pinjaman (Others)']

# Baris yang akan diproses (baris ke-2, ke-8, dan ke-11)
rows_to_process = [1, 8, 11]

# Mengisi NaN di kolom-kolom yang ditentukan pada baris yang ditentukan dengan jumlah dua data di bawahnya
for col in columns_to_process:
    for i in rows_to_process:
        if pd.isna(mtd_deck_finald2.loc[i, col]):  # Jika nilai NaN di baris i dan kolom tertentu
            # Mengisi dengan penjumlahan dua data di bawahnya
            if i + 2 < len(mtd_deck_finald2):  # Pastikan ada dua baris setelahnya
                mtd_deck_finald2.loc[i, col] = mtd_deck_finald2.loc[i + 1, col] + mtd_deck_finald2.loc[i + 2, col]

# Menampilkan hasil yang telah diproses
print(mtd_deck_finald2)

                             Region             District  \
0              K01-WILAYAH I/ MEDAN         non-District
1         K02-WILAYAH II/ PALEMBANG                  NaN
2         K02-WILAYAH II/ PALEMBANG       District Jambi
3         K02-WILAYAH II/ PALEMBANG   District Palembang
4     K03-WILAYAH III/ JAKARTA KOTA         non-District
5   K04-WILAYAH IV/ JAKARTA THAMRIN         non-District
6   K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District
7           K06-WILAYAH VI/ BANDUNG         non-District
8         K07-WILAYAH VII/ SEMARANG                  NaN
9         K07-WILAYAH VII/ SEMARANG    District Semarang
10        K07-WILAYAH VII/ SEMARANG  District Yogyakarta
11       K08-WILAYAH VIII/ SURABAYA                  NaN
12       K08-WILAYAH VIII/ SURABAYA      District Malang
13       K08-WILAYAH VIII/ SURABAYA    District Surabaya
14      K09-WILAYAH IX/ BANJARMASIN         non-District
15          K10-WILAYAH X/ MAKASSAR         non-District
16         K11-WILAYAH XI/ DENPASAR         non-District
17        K12-WILAYAH XII/ JAYAPURA         non-District
18                              NaN                  NaN

   Pembayaran Pinjaman (KUM/KUR) Pembayaran Pinjaman (Others) Perbankan  \
0                            7.0                          4.0   14561.0
1                           39.0                          3.0      7550
2                           32.0                          3.0    2593.0
3                            7.0                          0.0    4957.0
4                            3.0                          0.0    1639.0
5                            NaN                          NaN    1659.0
6                            1.0                          0.0    2199.0
7                           15.0                          6.0   15499.0
8                            4.0                          2.0      6518
9                            2.0                          1.0    4284.0
10                           2.0                          1.0    2234.0
11                          14.0                          2.0      5416
12                           9.0                          2.0    3217.0
13                           5.0                          0.0    2199.0
14                           9.0                          9.0   10739.0
15                          15.0                          2.0    7805.0
16                           NaN                          NaN    2726.0
17                           1.0                          0.0    2849.0
18                         108.0                         30.0   79160.0

     Biller Total pembayaran
0    5915.0             11.0
1      5048               42
2    1821.0             35.0
3    3227.0              7.0
4    3846.0              3.0
5    1478.0              1.0
6    2091.0              1.0
7   11477.0             21.0
8      3718                6
9    2231.0              3.0
10   1487.0              3.0
11     3819               16
12   2364.0             11.0
13   1455.0              5.0
14   3445.0             18.0
15   2255.0             17.0
16   1898.0              1.0
17   1062.0              1.0
18  46052.0            138.0

In [58]:

# Buat pivot table dengan menambahkan kolom TANGGAL_TRANSAKSI
graph_master = combined_master[combined_master['Jenis'] == 'AGEN']
graph_master1 = graph_master[graph_master['periode'] == tanggal_terakhir]



# Membuat pivot table
pivot_daily_dect = pd.pivot_table(
    graph_master1,
    index='periode', # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

#pivot_daily_dect.head()

C:\Users\user\AppData\Local\Temp\ipykernel_19368\2123175015.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_daily_dect = pd.pivot_table(

In [60]:
pembayaran_pinjaman = pivot_daily_dect['PEMBAYARAN PINJAMAN'] + pivot_daily_dect['PEMBAYARAN KARTU KREDIT'] 
setor_tunai = pivot_daily_dect['SETOR TUNAI'] 
tarik_tunai = pivot_daily_dect['TARIK TUNAI']
others = pivot_daily_dect['OTHERS'] + pivot_daily_dect['PEMBAYARAN BILLER'] 
transfer = pivot_daily_dect['TRANSFER']
dect_graf = pd.concat([pembayaran_pinjaman, setor_tunai, tarik_tunai, transfer, others], axis=1)
print(dect_graf)

     0  SETOR TUNAI  TARIK TUNAI  TRANSFER      1
0  138         8895        16961     53304  46052

In [39]:
df= pivot_trx_eda['dat_fre1'].copy()
# Menjumlahkan nilai pada baris yang diinginkan tanpa menggunakan .sum() pada indeks tertentu
sum_selected_rows = df.iloc[0] + df.iloc[2:8].sum() + df.iloc[9:11].sum() + df.iloc[12:18].sum()

df2= mtd_deck_final2.copy()
# Menjumlahkan nilai pada baris yang diinginkan tanpa menggunakan .sum() pada indeks tertentu
sum_selected_rows2 = df2.iloc[0] + df2.iloc[2:8].sum() + df2.iloc[9:11].sum() + df2.iloc[12:18].sum()
# Menjumlahkan nilai dari kolom yang diinginkan
total_sum = (
    sum_selected_rows2['Pembayaran Pinjaman (KUM/KUR)'] +
    sum_selected_rows2['Pembayaran Pinjaman (Others)'] +
    sum_selected_rows2['Perbankan'] +
    sum_selected_rows2['Biller']
)

print("master dect act:", total_sum)

print("master:", sum_selected_rows)

master dect act: 695931.0
master: 695.931

print(mtd_deck_finald)
print(dect_graf)

print(pivot_trx_monthly)
print(pivot_trx_monthly2)
print(pivot_trx_daily2)
print(mtd_deck_final2)
print(pivot_trx_eda)

 # Assuming pivot_trx_daily2 is already defined, let's assign it to column 21 (index 20)
neo_dm = neo_dm.iloc[:18, :]
neo_dm.iloc[:, 10] = pivot_trx_daily2['Bertransaksi'] [:18] 
neo_dm.iloc[:, 11] = pivot_trx_daily2['Tidak Bertransaksi'] [:18] 
neo_dm.iloc[:, 13] = pivot_trx_monthly2['Bertransaksi'] [:18] 
neo_dm.iloc[:, 14] = pivot_trx_monthly2['%'][:18] 

# Optionally, if you want to verify the update:
print(neo_dm.iloc[10:, 1])

# Save the updated neo_dm to the Excel file
neo_dm.to_excel(r'D:\python\00-Master Deck Neo DRR (All Team)-190325.xlsx', sheet_name='ACT-Table (1)', index=False)

# Optionally, if you want to save multiple sheets, you can use the ExcelWriter:
with pd.ExcelWriter(r'D:\python\00-Master Deck Neo DRR (All Team)-16 test.xlsx', engine='xlsxwriter') as writer:
    # Saving the updated neo_dm to 'ACT-Table (1)' sheet
    neo_dm.to_excel(writer, sheet_name='ACT-Table (1)', index=False)
    
    # Assuming you also want to save other dataframes (e.g., neo_table and neo_grap):
    neo_table.to_excel(writer, sheet_name='ACT-Table (2)', index=False)
    neo_grap.to_excel(writer, sheet_name='ACT-Trx All Tools', index=False)

In [43]:
detail_transaction2['JENIS_TRANSAKSI_2'] = detail_transaction2['JENIS_TRANSAKSI_2'].fillna('Blank')

# Membuat pivot table
pivot_absm = pd.pivot_table(
    detail_transaction2,
    index='Reg_dist',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'JENIS_TRANSAKSI_2' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

#print(pivot_absd)

In [44]:
pivot_absm = pivot_absm.rename(columns={'Pembayaran': 'Biller'})
#pivot_absd.columns

In [45]:

#perbankan
perbankan = pivot_absm.reindex(columns=['Setor Tunai', 'Tarik Tunai',  'Transfer Bank Lain', 'Transfer Mandiri'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Perbankan')


# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_absm= pd.concat([pivot_absm['Reg_dist'], pivot_absm['Blank'], pivot_absm['Biller'], perbankan], axis=1)
selected = ['Reg_dist', 'Blank','Perbankan', 'Biller']
mtd_absm= mtd_absm[selected]

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
mtd_absm.loc['Total'] = mtd_absm.select_dtypes(include='number').sum()


##tambah column
sum_row7a = mtd_absm.iloc[1][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[2][['Blank','Biller', 'Perbankan']]
sum_row8a = mtd_absm.iloc[7][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[8][['Blank','Biller', 'Perbankan']]
sum_row9a = mtd_absm.iloc[9][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[10][['Blank','Biller', 'Perbankan']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row7a['Reg_dist'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row8a['Reg_dist'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row9a['Reg_dist'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
#mtd_absd.loc['Total'] = mtd_absd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_absm = pd.concat([mtd_absm.iloc[:1], sum_row7a.to_frame().T, mtd_absm.iloc[1:]], ignore_index=True)

mtd_absm = pd.concat([mtd_absm.iloc[:8], sum_row8a.to_frame().T, mtd_absm.iloc[8:]], ignore_index=True)

mtd_absm = pd.concat([mtd_absm.iloc[:11], sum_row9a.to_frame().T, mtd_absm.iloc[11:]], ignore_index=True)


#print(mtd_absm)

In [46]:
detail_transaction= detail_transaction2.copy()

In [47]:
detail_transaction.columns

Index(['KODE_AGEN', 'NAMA_AGEN', 'Tools', 'KC', 'Cabang', 'Cluster', 'Area',
       'Region', 'Reg_dist', 'TANGGAL_TRANSAKSI', 'WAKTU_TRANSAKSI',
       'JENIS_TRANSAKSI', 'JENIS_TRANSAKSI_2', 'KODE_TRANSAKSI', 'TRANCODE',
       'TRANSACTION_NUMBER', 'REKENING_DEBIT', 'REKENING_KREDIT',
       'BILLER_NAME', 'TRX_TYPE', 'FREK', 'AMOUNT', 'Cek Gaming',
       'KOMISI_AGEN', 'PPN', 'PPH', 'POL_FEE', 'SWITCHER', 'ACQUIRER',
       'TRANSACTION_FEE', 'TOTAL_TRANSACTION_AMOUNT', 'TRANSACTION_REVERSAL',
       'FBI', 'KOMISI_PERBANKAN', 'TOTAL_FEE', 'UMA'],
      dtype='object')

In [48]:
detail_transaction['JENIS_TRANSAKSI_2'] = detail_transaction['JENIS_TRANSAKSI_2'].fillna('Blank')

In [49]:
print(detail_transaction['JENIS_TRANSAKSI_2'].unique())

['Transfer Mandiri' 'Pembayaran' 'Setor Tunai' 'Transfer Bank Lain'
 'Blank' 'Tarik Tunai']

In [50]:
# Filter berdasarkan 'Jenis' == 'AGEN'
tanggal_terakhir2 = detail_transaction['TANGGAL_TRANSAKSI'].max()
#tanggal_terakhir2 ='21032025'
detail_transaction = detail_transaction[detail_transaction['TANGGAL_TRANSAKSI'] == tanggal_terakhir2]

In [51]:
# Membuat pivot table
pivot_absd2 = pd.pivot_table(
    detail_transaction,
    index='Reg_dist',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'JENIS_TRANSAKSI_2' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

print(pivot_absd2)

JENIS_TRANSAKSI_2                                       Reg_dist  Blank  \
0                              K01-WILAYAH I/ MEDAN-non-District     19
1                       K02-WILAYAH II/ PALEMBANG-District Jambi     82
2                   K02-WILAYAH II/ PALEMBANG-District Palembang     39
3                     K03-WILAYAH III/ JAKARTA KOTA-non-District      6
4                   K04-WILAYAH IV/ JAKARTA THAMRIN-non-District      2
5                   K05-WILAYAH V/ JAKARTA SUDIRMAN-non-District      3
6                           K06-WILAYAH VI/ BANDUNG-non-District     74
7                    K07-WILAYAH VII/ SEMARANG-District Semarang     15
8                  K07-WILAYAH VII/ SEMARANG-District Yogyakarta     30
9                     K08-WILAYAH VIII/ SURABAYA-District Malang     45
10                  K08-WILAYAH VIII/ SURABAYA-District Surabaya     14
11                      K09-WILAYAH IX/ BANJARMASIN-non-District     24
12                          K10-WILAYAH X/ MAKASSAR-non-District     42
13                         K11-WILAYAH XI/ DENPASAR-non-District     58
14                        K12-WILAYAH XII/ JAYAPURA-non-District      8

JENIS_TRANSAKSI_2  Pembayaran  Setor Tunai  Tarik Tunai  Transfer Bank Lain  \
0                        3052         1474            0                 948
1                        1406         1123            0                 454
2                        2349         1427            0                 605
3                        4853          470            0                 358
4                        1100          228            0                 223
5                        1306          335            0                 238
6                        6437         1850            0                1193
7                        1449          885            1                 400
8                         780          398            0                 255
9                        1028          649            0                 361
10                        894          614            0                 220
11                       2342         1089            0                 983
12                       1359          932            0                 837
13                       1007          564            0                 441
14                        920          621            0                 800

JENIS_TRANSAKSI_2  Transfer Mandiri
0                              1016
1                               310
2                               636
3                               273
4                               311
5                               215
6                              1509
7                               551
8                               253
9                               635
10                              263
11                              669
12                              783
13                              305
14                              471

In [106]:
detail_transaction2['TANGGAL_TRANSAKSI'].unique()

<DatetimeArray>
['2025-04-01 00:00:00', '2025-04-02 00:00:00', '2025-04-03 00:00:00',
 '2025-04-04 00:00:00', '2025-04-05 00:00:00', '2025-04-06 00:00:00',
 '2025-04-07 00:00:00', '2025-04-08 00:00:00', '2025-04-09 00:00:00',
 '2025-04-10 00:00:00']
Length: 10, dtype: datetime64[ns]

In [53]:
print(tanggal_terakhir2)

2025-04-10 00:00:00

In [54]:
pivot_absd2.columns
pivot_absd2 = pivot_absd2.rename(columns={'Pembayaran': 'Biller'})
pivot_absd2.columns

Index(['Reg_dist', 'Blank', 'Biller', 'Setor Tunai', 'Tarik Tunai',
       'Transfer Bank Lain', 'Transfer Mandiri'],
      dtype='object', name='JENIS_TRANSAKSI_2')

In [55]:

#perbankan
perbankan = pivot_absd2.reindex(columns=['Setor Tunai', 'Tarik Tunai',  'Transfer Bank Lain', 'Transfer Mandiri'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Perbankan')


# Menampilkan DataFrame setelah penambahan MultiIndex
daily_absd= pd.concat([pivot_absd2['Reg_dist'], pivot_absd2['Blank'], pivot_absd2['Biller'], perbankan], axis=1)
selected = ['Reg_dist', 'Blank','Perbankan', 'Biller']
daily_absd= daily_absd[selected]

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
daily_absd.loc['Total'] = daily_absd.select_dtypes(include='number').sum()


##tambah column
sum_row7 = daily_absd.iloc[1][['Blank','Biller', 'Perbankan']] + daily_absd.iloc[2][['Blank','Biller', 'Perbankan']]
sum_row8 = daily_absd.iloc[7][['Blank','Biller', 'Perbankan']] + daily_absd.iloc[8][['Blank','Biller', 'Perbankan']]
sum_row9 = daily_absd.iloc[9][['Blank','Biller', 'Perbankan']] + daily_absd.iloc[10][['Blank','Biller', 'Perbankan']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row7['Reg_dist'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row8['Reg_dist'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row9['Reg_dist'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
#mtd_absd.loc['Total'] = mtd_absd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
daily_absd = pd.concat([daily_absd.iloc[:1], sum_row7.to_frame().T, daily_absd.iloc[1:]], ignore_index=True)

daily_absd = pd.concat([daily_absd.iloc[:8], sum_row8.to_frame().T, daily_absd.iloc[8:]], ignore_index=True)

daily_absd = pd.concat([daily_absd.iloc[:11], sum_row9.to_frame().T, daily_absd.iloc[11:]], ignore_index=True)


print(daily_absd)

                                         Reg_dist  Blank Perbankan   Biller
0               K01-WILAYAH I/ MEDAN-non-District   19.0    3438.0   3052.0
1                       K02-WILAYAH II/ PALEMBANG  121.0    4555.0   3755.0
2        K02-WILAYAH II/ PALEMBANG-District Jambi   82.0    1887.0   1406.0
3    K02-WILAYAH II/ PALEMBANG-District Palembang   39.0    2668.0   2349.0
4      K03-WILAYAH III/ JAKARTA KOTA-non-District    6.0    1101.0   4853.0
5    K04-WILAYAH IV/ JAKARTA THAMRIN-non-District    2.0     762.0   1100.0
6    K05-WILAYAH V/ JAKARTA SUDIRMAN-non-District    3.0     788.0   1306.0
7            K06-WILAYAH VI/ BANDUNG-non-District   74.0    4552.0   6437.0
8                       K07-WILAYAH VII/ SEMARANG   45.0    2743.0   2229.0
9     K07-WILAYAH VII/ SEMARANG-District Semarang   15.0    1837.0   1449.0
10  K07-WILAYAH VII/ SEMARANG-District Yogyakarta   30.0     906.0    780.0
11                     K08-WILAYAH VIII/ SURABAYA   59.0    2742.0   1922.0
12     K08-WILAYAH VIII/ SURABAYA-District Malang   45.0    1645.0   1028.0
13   K08-WILAYAH VIII/ SURABAYA-District Surabaya   14.0    1097.0    894.0
14       K09-WILAYAH IX/ BANJARMASIN-non-District   24.0    2741.0   2342.0
15           K10-WILAYAH X/ MAKASSAR-non-District   42.0    2552.0   1359.0
16          K11-WILAYAH XI/ DENPASAR-non-District   58.0    1310.0   1007.0
17         K12-WILAYAH XII/ JAYAPURA-non-District    8.0    1892.0    920.0
18                                            NaN  461.0   29176.0  30282.0

In [56]:

# Membuat pivot table
abs_daily = pd.pivot_table(
    detail_transaction,
    index='TANGGAL_TRANSAKSI',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Mengambil kolom sesuai jenis transaksi
pembayaran_pinjaman = abs_daily['Blank']
setor_tunai = abs_daily['Setor Tunai']

# Menambahkan kolom 'Tarik Tunai' jika tidak ada
if 'Tarik Tunai' not in abs_daily.columns:
    abs_daily['Tarik Tunai'] = 0
tarik_tunai = abs_daily['Tarik Tunai']

# Menggabungkan Transfer Mandiri dan Transfer Bank Lain
transfer = abs_daily['Transfer Mandiri'] + abs_daily['Transfer Bank Lain']

# Menambahkan kolom Others (Pembayaran)
others = abs_daily['Pembayaran']

# Menggabungkan semua kolom ke dalam satu DataFrame
abs_graf = pd.concat([pembayaran_pinjaman, setor_tunai, tarik_tunai, transfer, others], axis=1)

# Menambahkan nama kolom untuk mempermudah pemahaman
abs_graf.columns = ['Pembayaran Pinjaman', 'Setor Tunai', 'Tarik Tunai', 'Transfer', 'Others']

# Menampilkan DataFrame akhir
print(abs_graf)

   Pembayaran Pinjaman  Setor Tunai  Tarik Tunai  Transfer  Others
0                  461        12659            1     16516   30282

In [62]:
# Ekspor ke file Excel dengan dua sheet (TRX 01-19 dan TRX 20-30)
with pd.ExcelWriter(file_path2) as writer:
    pivot_trx_daily2.to_excel(writer, sheet_name='Daily trx', index=False)
    pivot_trx_monthly2.to_excel(writer, sheet_name='monthly trx', index=False)
    pivot_trx_monthly.to_excel(writer, sheet_name='trx tier monthly', index=False)
    pivot_trx_eda.to_excel(writer, sheet_name='trx sv', index=False)
    mtd_deck_finald2.to_excel(writer, sheet_name='dect act daily', index=False)
    mtd_deck_final3.to_excel(writer, sheet_name='dect act monthly', index=False)
    dect_graf.to_excel(writer, sheet_name='dect_graf', index=False)
    abs_graf.to_excel(writer, sheet_name='abs_graf', index=False)
    daily_absd.to_excel(writer, sheet_name='daily_abs', index=False)
    mtd_absm.to_excel(writer, sheet_name='monthly_abs', index=False)

print(f"Data berhasil diekspor ke: {file_path2}")

Data berhasil diekspor ke: D:\python\DRR_.xlsx

In [64]:
eda_trx['periode'].max()

20250407

In [114]:
#________________________________Sesuaikan tanggal________________________________________
tanggal_adjust =  20250407
graph_master2 = combined_master[(combined_master['Jenis'] == 'AGEN') & (combined_master['periode'] == tanggal_adjust)]

pivot_daily_dect2 = pd.pivot_table(
    graph_master2,
    index='periode', # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

#print(pivot_daily_dect2)

pembayaran_pinjaman2 = pivot_daily_dect2['PEMBAYARAN PINJAMAN'] + pivot_daily_dect2['PEMBAYARAN KARTU KREDIT'] 
setor_tunai2 = pivot_daily_dect2['SETOR TUNAI'] 
tarik_tunai2 = pivot_daily_dect2['TARIK TUNAI']
others2 = pivot_daily_dect2['OTHERS'] + pivot_daily_dect2['PEMBAYARAN BILLER'] 
transfer2 = pivot_daily_dect2['TRANSFER']
dect_graf2 = pd.concat([pembayaran_pinjaman2, setor_tunai2, tarik_tunai2, transfer2, others2], axis=1)
print(dect_graf2)

     0  SETOR TUNAI  TARIK TUNAI  TRANSFER      1
0  138         8895        16961     53304  46052

C:\Users\user\AppData\Local\Temp\ipykernel_19368\3501282505.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_daily_dect2 = pd.pivot_table(

In [125]:
detail_transaction_a = detail_transaction2.copy()
#________________________________Sesuaikan tanggal________________________________________
tanggal_adjust2 =  '2025-04-01 00:00:00'

detail_transaction_a = detail_transaction_a[detail_transaction_a['TANGGAL_TRANSAKSI'] == tanggal_adjust2]




# Membuat pivot table
abs_daily_a = pd.pivot_table(
    detail_transaction_a,
    index='TANGGAL_TRANSAKSI',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Mengambil kolom sesuai jenis transaksi
pembayaran_pinjaman = abs_daily_a['Blank']
setor_tunai = abs_daily_a['Setor Tunai']

# Menambahkan kolom 'Tarik Tunai' jika tidak ada
if 'Tarik Tunai' not in abs_daily.columns:
    abs_daily_a['Tarik Tunai'] = 0
tarik_tunai = abs_daily_a['Tarik Tunai']

# Menggabungkan Transfer Mandiri dan Transfer Bank Lain
transfer = abs_daily_a['Transfer Mandiri'] + abs_daily_a['Transfer Bank Lain']

# Menambahkan kolom Others (Pembayaran)
others = abs_daily_a['Pembayaran']

# Menggabungkan semua kolom ke dalam satu DataFrame
abs_graf_a = pd.concat([pembayaran_pinjaman, setor_tunai, tarik_tunai, transfer, others], axis=1)

# Menambahkan nama kolom untuk mempermudah pemahaman
abs_graf_a.columns = ['Pembayaran Pinjaman', 'Setor Tunai', 'Tarik Tunai', 'Transfer', 'Others']

# Menampilkan DataFrame akhir
print(abs_graf_a)

   Pembayaran Pinjaman  Setor Tunai  Tarik Tunai  Transfer  Others
0                   66         4898            1      7626   20689