In [254]:
import pandas as pd
import numpy as np
#Perfomance
perfomance = r'D:\python\03-Performance Agen-190325.xlsx'  # Menggunakan garis miring ganda
performance = pd.read_excel(perfomance, sheet_name= '20250319',header= [1])  # Menggunakan path file ini kalo mau headerubah nama sesuai sheet

detail_transaction2 = r"D:\python\Detail TRX\trx ABS s.d 21032025_Data_New.csv" ###data sebelumnya
detail_transaction2 = pd.read_csv(detail_transaction2)



eda =  r'D:\python\Raw EDA (34).xlsx' 
eda_trx = pd.read_excel(eda, sheet_name= 'trx')  # Menggunakan path file ini kalo mau headerubah nama sesuai sheet
eda_master1 = pd.read_excel(eda, sheet_name= 'master deck 1-15') 
eda_master2 = pd.read_excel(eda, sheet_name= 'master deck 16-31') 
eda_kumkur = pd.read_excel(eda, sheet_name= 'kumkur') 
descript = r'D:\python\descript.xlsx'
descript = pd.read_excel(descript) 


##tambnahan cek
eda1 =  r'D:\python\Raw EDA (32).xlsx' 

#######________________________Otak atik EDA
eda_master1a = pd.read_excel(eda1, sheet_name= 'master deck 1-15')

C:\Users\O1587160233\AppData\Local\Temp\ipykernel_22012\1001557032.py:8: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  detail_transaction2 = pd.read_csv(detail_transaction2)

In [255]:
file_path2 = r'D:\python\DRR_24032025.xlsx' # Ganti dengan path yang diinginkan

In [256]:
# Data urut yang ingin ditambahkan sebagai kolom 'freq_inp'
freq_inp_data = [131, 1759, 887, 872, 61, 51, 7, 905, 259, 98, 161, 522, 205, 317, 55, 149, 25, 82]

In [257]:
eda_trx= eda_trx.rename(columns={'Jenis': 'Tagging'})

# Buat pivot table dengan menambahkan kolom TANGGAL_TRANSAKSI
eda_trx2 = eda_trx[eda_trx['Tagging'] == 'AGEN']
eda_trx3 = eda_trx[eda_trx['Tagging'] == 'AGEN']

#tanggal_terakhir = eda_trx2['periode'].max()
#tanggal_tertentu = '18032025'
# Memfilter data berdasarkan tanggal maksimum
eda_trx2 = eda_trx2[eda_trx2['periode'] == tanggal_terakhir]
#eda_trx2 = eda_trx2[eda_trx2['periode'] == tanggal_terakhir]
pivot_trxd = pd.pivot_table(
    eda_trx2,
    index=['periode', 'kode_agen'],  # Menambahkan TANGGAL_TRANSAKSI ke dalam indeks
    values=['frek', 'sv'],
    aggfunc='sum'
).reset_index()
#print(pivot_trxd)

In [258]:
pivot_trxm = pd.pivot_table(
    eda_trx3,
    index=['periode', 'kode_agen'],  # Menambahkan TANGGAL_TRANSAKSI ke dalam indeks
    values=['frek', 'sv'],
    aggfunc='sum'
).reset_index()
#print(pivot_trxm)

In [259]:
selected_columns = ['Kode Agen', 'Jenis', 'Tools', 'District', 'Region']
data_trxd= performance[selected_columns]
data_trxd= data_trxd.rename(columns={'Jenis': 'Tagging'})
data_trxm = data_trxd.copy()
#print(data_trxm)

In [260]:
#>>>>>>>>>>>'''''''''''''''''''''Daily''''''''''''''''''''''''''''''''''<<<<<<<<<<<<<<<<<<
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingd = pivot_trxd.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['frek'] = data_trxd['Kode Agen'].map(tools_mappingd)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingd = pivot_trxd.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['sv'] = data_trxd['Kode Agen'].map(tools_mappingd)

#print(data_trxd)

In [261]:
#pivot_trxm.head()
# Menggunakan groupby untuk menjumlahkan frek dan sv berdasarkan kode_agen
pivot_trxm = pivot_trxm.groupby('kode_agen')[['frek', 'sv']].sum().reset_index()
#print(pivot_trxm)

In [262]:
#>>>>>>>>>>>'''''''''''''''''''''Monthly''''''''''''''''''''''''''''''''''<<<<<<<<<<<<<<<<<<
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingm = pivot_trxm.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['frek'] = data_trxm['Kode Agen'].map(tools_mappingm)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mappingm = pivot_trxm.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['sv'] = data_trxm['Kode Agen'].map(tools_mappingm)

#print(data_trxm)

In [263]:

data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2m = pivot_trxm.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['frek'] = data_trxm['Kode Agen'].map(tools_mapping2m)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2m = pivot_trxm.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxm['sv'] = data_trxm['Kode Agen'].map(tools_mapping2m)

#print(data_trx)

def determine_tier1(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 50:
        return '26-50 TRX'
    elif 51 <= frek <= 70:
        return '51-70 TRX'
    elif 71 <= frek <= 99:
        return '71-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_akhir' berdasarkan kondisi 'frek'
data_trxm['tier_akhir'] = data_trxm['frek'].apply(determine_tier1)

# Fungsi untuk menentukan tier_awal berdasarkan 'frek'
def determine_tier2(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 45:
        return '26-45 TRX'
    elif 46 <= frek <= 99:
        return '46-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_awal' berdasarkan kondisi 'frek'
data_trxm['tier_awal'] = data_trxm['frek'].apply(determine_tier2)


def determine_trx3(frek):
    if frek > 0:
        return 'Bertransaksi'
    else:
        return 'Tidak Bertransaksi'

# Menambahkan kolom 'tier_trx' berdasarkan kondisi 'frek'
data_trxm['tier_trx'] = data_trxm['frek'].apply(determine_trx3)

# Menampilkan hasil
#print(data_trxm)

In [264]:
data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
data_trxm = data_trxm[data_trxm['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_monthly = pd.pivot_table(
    data_trxm,
    index=['Region', 'District'],  # Kolom index
    columns='tier_akhir',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()



##tambah column
sum_row = pivot_trx_monthly.iloc[1][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']] + pivot_trx_monthly.iloc[2][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
sum_row2 = pivot_trx_monthly.iloc[7][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]+ pivot_trx_monthly.iloc[8][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
sum_row3 = pivot_trx_monthly.iloc[9][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']] + pivot_trx_monthly.iloc[10][['1-25 TRX', '26-50 TRX', '51-70 TRX', '71-99 TRX', '>=100 TRX', 'Nihil']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom
pivot_trx_monthly.loc['Total'] = pivot_trx_monthly.sum(numeric_only=True)

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:1], sum_row.to_frame().T, pivot_trx_monthly.iloc[1:]], ignore_index=True)

pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:8], sum_row2.to_frame().T, pivot_trx_monthly.iloc[8:]], ignore_index=True)

pivot_trx_monthly = pd.concat([pivot_trx_monthly.iloc[:11], sum_row3.to_frame().T, pivot_trx_monthly.iloc[11:]], ignore_index=True)






# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_monthly['Total'] = pivot_trx_monthly.drop(columns=['Region', 'District']).sum(axis=1)

# Menampilkan hasil pivot table
#print(pivot_trx_monthly)

In [265]:
#______________________________Daily____________________________________________

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2d = pivot_trxd.set_index('kode_agen')['frek'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['frek'] = data_trxd['Kode Agen'].map(tools_mapping2d)

#print(data_trx)

# Buat dictionary yang memetakan 'Kode Agen' ke 'Tools'
tools_mapping2d = pivot_trxd.set_index('kode_agen')['sv'].to_dict()

# Tambahkan kolom 'Tools' ke combined_data menggunakan mapping
data_trxd['sv'] = data_trxd['Kode Agen'].map(tools_mapping2d)

#print(data_trx)

def determine_tier4(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 50:
        return '26-50 TRX'
    elif 51 <= frek <= 70:
        return '51-70 TRX'
    elif 71 <= frek <= 99:
        return '71-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_akhir' berdasarkan kondisi 'frek'
data_trxd['tier_akhir'] = data_trxd['frek'].apply(determine_tier4)

# Fungsi untuk menentukan tier_awal berdasarkan 'frek'
def determine_tier5(frek):
    if frek >= 100:
        return '>=100 TRX'
    elif 1 <= frek <= 25:
        return '1-25 TRX'
    elif 26 <= frek <= 45:
        return '26-45 TRX'
    elif 46 <= frek <= 99:
        return '46-99 TRX'
    else:
        return 'Nihil'

# Menambahkan kolom 'tier_awal' berdasarkan kondisi 'frek'
data_trxd['tier_awal'] = data_trxd['frek'].apply(determine_tier5)


def determine_trx6(frek):
    if frek > 0:
        return 'Bertransaksi'
    else:
        return 'Tidak Bertransaksi'

# Menambahkan kolom 'tier_trx' berdasarkan kondisi 'frek'
data_trxd['tier_trx'] = data_trxd['frek'].apply(determine_trx6)

# Menampilkan hasil
#print(data_trx)

In [266]:
data_trxm = data_trxm[data_trxm['Tagging'] == 'AGEN']
data_trxm = data_trxm[data_trxm['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_monthly2 = pd.pivot_table(
    data_trxm,
    index=['Region', 'District'],  # Kolom index
    columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()



##tambah column
sum_row = pivot_trx_monthly2.iloc[1][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_monthly2.iloc[2][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row2 = pivot_trx_monthly2.iloc[7][['Bertransaksi', 'Tidak Bertransaksi']]+ pivot_trx_monthly2.iloc[8][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row3 = pivot_trx_monthly2.iloc[9][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_monthly2.iloc[10][['Bertransaksi', 'Tidak Bertransaksi']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom
pivot_trx_monthly2.loc['Total'] = pivot_trx_monthly2.sum(numeric_only=True)

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:1], sum_row.to_frame().T, pivot_trx_monthly2.iloc[1:]], ignore_index=True)

pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:8], sum_row2.to_frame().T, pivot_trx_monthly2.iloc[8:]], ignore_index=True)

pivot_trx_monthly2 = pd.concat([pivot_trx_monthly2.iloc[:11], sum_row3.to_frame().T, pivot_trx_monthly2.iloc[11:]], ignore_index=True)






# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_monthly2['Total'] = pivot_trx_monthly2.drop(columns=['Region', 'District']).sum(axis=1)
pivot_trx_monthly2['%']= pivot_trx_monthly2['Bertransaksi']/pivot_trx_monthly2['Total']
# Menampilkan hasil pivot table
#print(pivot_trx_monthly2)

In [267]:
data_trxd = data_trxd[data_trxd['Tagging'] == 'AGEN']
data_trxd = data_trxd[data_trxd['Tools'].isin(['HYBRID', 'EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_daily2 = pd.pivot_table(
    data_trxd,
    index=['Region', 'District'],  # Kolom index
    columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values='Kode Agen',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_trx_daily2.iloc[1][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_daily2.iloc[2][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row2 = pivot_trx_daily2.iloc[7][['Bertransaksi', 'Tidak Bertransaksi']]+ pivot_trx_daily2.iloc[8][['Bertransaksi', 'Tidak Bertransaksi']]
sum_row3 = pivot_trx_daily2.iloc[9][['Bertransaksi', 'Tidak Bertransaksi']] + pivot_trx_daily2.iloc[10][['Bertransaksi', 'Tidak Bertransaksi']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_trx_daily2.loc['Total'] = pivot_trx_daily2.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:1], sum_row.to_frame().T, pivot_trx_daily2.iloc[1:]], ignore_index=True)

pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:8], sum_row2.to_frame().T, pivot_trx_daily2.iloc[8:]], ignore_index=True)

pivot_trx_daily2 = pd.concat([pivot_trx_daily2.iloc[:11], sum_row3.to_frame().T, pivot_trx_daily2.iloc[11:]], ignore_index=True)



# Menambahkan kolom 'Total' yang merupakan jumlah per baris (bukan total dari kolom)
pivot_trx_daily2['Total'] = pivot_trx_daily2.drop(columns=['Region', 'District']).sum(axis=1)
pivot_trx_daily2['%']= pivot_trx_daily2['Bertransaksi']/pivot_trx_daily2['Total']


# Menampilkan hasil pivot table
#print(pivot_trx_daily2)

In [268]:
#__________________________EDA trx_____________________________________

eda_trx = eda_trx[eda_trx['Tagging'] == 'AGEN']
eda_trx = eda_trx[eda_trx['tools'].isin(['EDC', 'ABS'])]

# Membuat pivot table
pivot_trx_eda = pd.pivot_table(
    eda_trx,
    index=['Region', 'District'],  # Kolom index
    #columns='tier_trx',  # Memindahkan 'tier_akhir' ke dalam kolom
    values=['frek','sv'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

pivot_trx_eda.loc['Total'] = pivot_trx_eda.select_dtypes(include='number').sum()

##tambah column
sum_row = pivot_trx_eda.iloc[1][['frek', 'sv']] + pivot_trx_eda.iloc[2][['frek', 'sv']]
sum_row2 = pivot_trx_eda.iloc[7][['frek', 'sv']] + pivot_trx_eda.iloc[8][['frek', 'sv']]
sum_row3 = pivot_trx_eda.iloc[9][['frek', 'sv']] + pivot_trx_eda.iloc[10][['frek', 'sv']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:1], sum_row.to_frame().T, pivot_trx_eda.iloc[1:]], ignore_index=True)

pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:8], sum_row2.to_frame().T, pivot_trx_eda.iloc[8:]], ignore_index=True)

pivot_trx_eda = pd.concat([pivot_trx_eda.iloc[:11], sum_row3.to_frame().T, pivot_trx_eda.iloc[11:]], ignore_index=True)


#print(pivot_trx_eda)
# Periksa apakah jumlah data dalam freq_inp_data sesuai dengan jumlah baris di pivot_trx_eda
if len(freq_inp_data) == len(pivot_trx_eda) - 1:  # -1 untuk baris 'Total'
    # Menambahkan kolom 'freq_inp' ke pivot_trx_eda
    pivot_trx_eda['freq_inp'] = freq_inp_data + [None]  # Tambahkan None untuk baris 'Total'
else:
    print("Jumlah data 'freq_inp' tidak sesuai dengan jumlah baris di pivot_trx_eda")


pivot_trx_eda = pivot_trx_eda.assign(
    dat_fre1 = (pivot_trx_eda['frek'] + pivot_trx_eda['freq_inp'])/1000,
    dat_sv = pivot_trx_eda['sv'] / 1000000000
)
# Menampilkan hasil pivot table
#print(pivot_trx_eda)

In [269]:
#_____________________kumkur__________________________
eda_kumkur.columns

Index(['periode', 'kode_agen', 'Jenis', 'District', 'Region', 'flag_angsuran',
       'frek', 'tools'],
      dtype='object')

In [270]:
#______________________________________MTD_________________________________________

# Filter berdasarkan 'Jenis' == 'AGEN'
eda_kumkur = eda_kumkur[eda_kumkur['Jenis'] == 'AGEN']
eda_kumkur= eda_kumkur[eda_kumkur['flag_angsuran'] == 'KUM/KUR']
# Membuat pivot table
pivot_kumkur_m = pd.pivot_table(
    eda_kumkur,
    index=['Region', 'District'],  # Kolom index
    #columns='flag_angsuran',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values=['frek'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_kumkur_m.iloc[1][['frek']] + pivot_kumkur_m.iloc[2][['frek']]
sum_row2 = pivot_kumkur_m.iloc[7][['frek']] + pivot_kumkur_m.iloc[8][['frek']]
sum_row3 = pivot_kumkur_m.iloc[9][['frek']] + pivot_kumkur_m.iloc[10][['frek']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_kumkur_m.loc['Total'] = pivot_kumkur_m.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:1], sum_row.to_frame().T, pivot_kumkur_m.iloc[1:]], ignore_index=True)

pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:8], sum_row2.to_frame().T, pivot_kumkur_m.iloc[8:]], ignore_index=True)

pivot_kumkur_m = pd.concat([pivot_kumkur_m.iloc[:11], sum_row3.to_frame().T, pivot_kumkur_m.iloc[11:]], ignore_index=True)


#print(pivot_kumkur_m)

In [271]:
#______________________________________daily_________________________________________

# Filter berdasarkan 'Jenis' == 'AGEN'
tanggal_terakhir = eda_kumkur['periode'].max()

# Memfilter data berdasarkan tanggal maksimum
eda_kumkur2 = eda_kumkur[eda_kumkur['periode'] == tanggal_terakhir]

# Membuat pivot table
pivot_kumkur_d = pd.pivot_table(
    eda_kumkur2,
    index=['Region', 'District'],  # Kolom index
    #columns='flag_angsuran',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values=['frek'],  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


##tambah column
sum_row = pivot_kumkur_d.iloc[1][['frek']] + pivot_kumkur_d.iloc[2][['frek']]
sum_row2 = pivot_kumkur_d.iloc[7][['frek']] + pivot_kumkur_d.iloc[8][['frek']]
sum_row3 = pivot_kumkur_d.iloc[9][['frek']] + pivot_kumkur_d.iloc[10][['frek']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
sum_row['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row2['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
sum_row2['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row3['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
sum_row3['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_kumkur_d.loc['Total'] = pivot_kumkur_d.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:1], sum_row.to_frame().T, pivot_kumkur_d.iloc[1:]], ignore_index=True)

pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:8], sum_row2.to_frame().T, pivot_kumkur_d.iloc[8:]], ignore_index=True)

pivot_kumkur_d = pd.concat([pivot_kumkur_d.iloc[:11], sum_row3.to_frame().T, pivot_kumkur_d.iloc[11:]], ignore_index=True)


#print(pivot_kumkur_d)

In [272]:
#ini baru edit cek
# Buat dictionary yang memetakan 'Kode Agen' ke 'KC'
descript_mapping2 = descript.set_index('kodtran')['desc'].to_dict()
# Tambahkan kolom 'KC' ke transaction1 menggunakan mapping
eda_master1a['descript'] = eda_master1a['kode_transaksi'].map(descript_mapping2)
# Pindahkan kolom 'Cek Gaming' ke posisi 21
eda_master1a.insert(7, 'descript', eda_master1a.pop('descript'))

In [273]:
# Membuat pivot table
pivot_master1a = pd.pivot_table(
    eda_master1a,
    index=['Region', 'District'], # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_master1a.loc['Total'] = pivot_master1a.select_dtypes(include='number').sum()

#print(eda_master11)

In [274]:
####___________________________________________>>>>>>>>>>>>>>>>>>>>>>>>>>LiHAT INIIIII<<<<<<<<<<<<<<<<<<<<<<___________________________
####_____________________________________________________________________________________________________________________________________
####_____________________________________________________________________________________________________________________________________

In [275]:
combined_master = pd.concat([eda_master1, eda_master2], ignore_index=True)
#print(combined_master.columns)

In [276]:
####_____________________________________________________________________________________________________________________________________

In [277]:
####_____________________________________________________________________________________________________________________________________

In [278]:
####_____________________________________________________________________________________________________________________________________

In [279]:
####_____________________________________________________________________________________________________________________________________

In [280]:
descript.columns

Index(['kodtran', 'Jns Trx', 'desc', 'Unnamed: 3'], dtype='object')

In [281]:
# Buat dictionary yang memetakan 'Kode Agen' ke 'KC'
descript_mapping = descript.set_index('kodtran')['desc'].to_dict()
# Tambahkan kolom 'KC' ke transaction1 menggunakan mapping
combined_master['descript'] = combined_master['kode_transaksi'].map(descript_mapping)
# Pindahkan kolom 'Cek Gaming' ke posisi 21
combined_master.insert(7, 'descript', combined_master.pop('descript'))


#combined_master['reg_dist'] = combined_master['Region'] + '-' + combined_master['District']
#combined_master.insert(3, 'reg_dist', combined_master.pop('reg_dist'))

#print(combined_master)

In [282]:
# Membuat pivot table
pivot_master = pd.pivot_table(
    combined_master,
    index=['Region', 'District'], # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
pivot_master.loc['Total'] = pivot_master.select_dtypes(include='number').sum()

#print(pivot_master)

In [283]:
#perbankan
perbankan = pivot_master.reindex(columns=['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Total perbankan')


# Menjumlahkan nilai di setiap baris
biller = pivot_master.reindex(columns=['PEMBAYARAN BILLER', 'OTHERS'], fill_value=0).sum(axis=1).astype('int64')
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
biller = biller.to_frame(name='Total biller')

#perbankan
pembayaran = pivot_master.reindex(columns=['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT'], fill_value=0).sum(axis=1).astype('int64')
pembayaran = pembayaran.to_frame(name='Total pembayaran')

# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_deck= pd.concat([pivot_master, biller, perbankan, pembayaran ], axis=1)
selected = ['Region', 'District', 'Total biller', 'Total perbankan', 'Total pembayaran']
mtd_deck= mtd_deck[selected]
#print(mtd_deck)

##tambah column
sum_row4 = mtd_deck.iloc[1][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[2][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row5 = mtd_deck.iloc[7][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[8][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row6 = mtd_deck.iloc[9][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deck.iloc[10][['Total biller', 'Total perbankan', 'Total pembayaran']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row4['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row5['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row6['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


###
# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_deck = pd.concat([mtd_deck.iloc[:1], sum_row4.to_frame().T, mtd_deck.iloc[1:]], ignore_index=True)

mtd_deck = pd.concat([mtd_deck.iloc[:8], sum_row5.to_frame().T, mtd_deck.iloc[8:]], ignore_index=True)

mtd_deck = pd.concat([mtd_deck.iloc[:11], sum_row6.to_frame().T, mtd_deck.iloc[11:]], ignore_index=True)


#print(mtd_deck)

In [284]:
# Melakukan merge berdasarkan 'Region' dan 'District' untuk mendapatkan kolom 'frek'
mtd_deck_final = mtd_deck.merge(pivot_kumkur_m[['Region', 'District', 'frek']], 
                                on=['Region', 'District'], 
                                how='left')

# Hapus kolom 'frek' yang duplikat setelah merge
mtd_deck_final = mtd_deck_final.loc[:, ~mtd_deck_final.columns.duplicated()]

# Memindahkan kolom 'frek' ke posisi yang diinginkan
mtd_deck_final.insert(2, 'frek', mtd_deck_final.pop('frek'))

#print(mtd_deck_final)

In [285]:


mtd_deck_final.rename(columns={'frek': 'Pembayaran Pinjaman (KUM/KUR)'}, inplace=True)
mtd_deck_final.rename(columns={'Total biller': 'Biller'}, inplace=True)
mtd_deck_final.rename(columns={'Total perbankan': 'Perbankan'}, inplace=True)

mtd_deck_final['Pembayaran Pinjaman (Others)']= mtd_deck_final['Total pembayaran'] - mtd_deck_final['Pembayaran Pinjaman (KUM/KUR)']
mtd_deck_final.insert(3, 'Pembayaran Pinjaman (Others)', mtd_deck_final.pop('Pembayaran Pinjaman (Others)'))
mtd_deck_final.insert(4, 'Perbankan', mtd_deck_final.pop('Perbankan'))



#print(pivot_trx_eda)
# Periksa apakah jumlah data dalam freq_inp_data sesuai dengan jumlah baris di pivot_trx_eda
if len(freq_inp_data) == len(mtd_deck_final) - 1:  # -1 untuk baris 'Total'
    # Menambahkan kolom 'freq_inp' ke pivot_trx_eda
    mtd_deck_final['freq_inp'] = freq_inp_data + [None]  # Tambahkan None untuk baris 'Total'
else:
    print("Jumlah data 'freq_inp' tidak sesuai dengan jumlah baris di pivot_trx_eda")


mtd_deck_final2 = mtd_deck_final.assign(
    Perbankan = mtd_deck_final['Perbankan'] + mtd_deck_final['freq_inp'],
)



print(mtd_deck_final2)

                             Region             District  \
0              K01-WILAYAH I/ MEDAN         non-District
1         K02-WILAYAH II/ PALEMBANG                  NaN
2         K02-WILAYAH II/ PALEMBANG       District Jambi
3         K02-WILAYAH II/ PALEMBANG   District Palembang
4     K03-WILAYAH III/ JAKARTA KOTA         non-District
5   K04-WILAYAH IV/ JAKARTA THAMRIN         non-District
6   K05-WILAYAH V/ JAKARTA SUDIRMAN         non-District
7           K06-WILAYAH VI/ BANDUNG         non-District
8         K07-WILAYAH VII/ SEMARANG                  NaN
9         K07-WILAYAH VII/ SEMARANG    District Semarang
10        K07-WILAYAH VII/ SEMARANG  District Yogyakarta
11       K08-WILAYAH VIII/ SURABAYA                  NaN
12       K08-WILAYAH VIII/ SURABAYA      District Malang
13       K08-WILAYAH VIII/ SURABAYA    District Surabaya
14      K09-WILAYAH IX/ BANJARMASIN         non-District
15          K10-WILAYAH X/ MAKASSAR         non-District
16         K11-WILAYAH XI/ DENPASAR         non-District
17        K12-WILAYAH XII/ JAYAPURA         non-District
18                              NaN                  NaN

   Pembayaran Pinjaman (KUM/KUR) Pembayaran Pinjaman (Others) Perbankan  \
0                          429.0                         85.0  363371.0
1                            NaN                          NaN  225705.0
2                         1613.0                        228.0   85450.0
3                          562.0                        109.0  140255.0
4                          400.0                          6.0   45998.0
5                           33.0                         18.0   42023.0
6                           47.0                         21.0   54804.0
7                          771.0                        179.0  371211.0
8                            NaN                          NaN  165977.0
9                          242.0                         15.0  113301.0
10                         320.0                         14.0   52676.0
11                           NaN                          NaN  160622.0
12                         835.0                         43.0  109627.0
13                         411.0                         49.0   50995.0
14                         284.0                        904.0  300286.0
15                        1195.0                        140.0  179702.0
16                         341.0                        550.0   70880.0
17                         174.0                        112.0   60194.0
18                        7657.0                       2473.0       NaN

    Biller Total pembayaran  freq_inp
0   107682              514     131.0
1   106158             2512    1759.0
2    38388             1841     887.0
3    67770              671     872.0
4   114941              406      61.0
5    31004               51      51.0
6    38978               68       7.0
7   201965              950     905.0
8    67603              591     259.0
9    41118              257      98.0
10   26485              334     161.0
11   70283             1338     522.0
12   43196              878     205.0
13   27087              460     317.0
14   66786             1188      55.0
15   44442             1335     149.0
16   35978              891      25.0
17   19463              286      82.0
18  905283            10130       NaN

In [286]:
#daily
tanggal_terakhir = combined_master['periode'].max()

# Memfilter data berdasarkan tanggal maksimum
combined_masterd = combined_master[combined_master['periode'] == tanggal_terakhir]



# Membuat pivot table
pivot_masterd = pd.pivot_table(
    combined_masterd,
    index=['Region', 'District'], # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()


#print(pivot_masterd)

In [287]:

biller = ['PEMBAYARAN BILLER', 'OTHERS']
pembayaran = ['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT']
perbankan = ['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER']



#perbankan
perbankan = pivot_masterd.reindex(columns=['SETOR TUNAI', 'TARIK TUNAI', 'TRANSFER'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Total perbankan')


# Menjumlahkan nilai di setiap baris
biller = pivot_masterd.reindex(columns=['PEMBAYARAN BILLER', 'OTHERS'], fill_value=0).sum(axis=1).astype('int64')
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
# Membuat DataFrame untuk daily_perbankan agar memiliki kolom 'Total Perbankan'
biller = biller.to_frame(name='Total biller')

#perbankan
pembayaran = pivot_masterd.reindex(columns=['PEMBAYARAN PINJAMAN', 'PEMBAYARAN KARTU KREDIT'], fill_value=0).sum(axis=1).astype('int64')
pembayaran = pembayaran.to_frame(name='Total pembayaran')

# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_deckd= pd.concat([pivot_masterd, biller, perbankan, pembayaran ], axis=1)
selected = ['Region', 'District', 'Total perbankan', 'Total biller', 'Total pembayaran']
mtd_deckd= mtd_deckd[selected]

##tambah column
sum_row4 = mtd_deckd.iloc[1][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[2][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row5 = mtd_deckd.iloc[7][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[8][['Total biller', 'Total perbankan', 'Total pembayaran']]
sum_row6 = mtd_deckd.iloc[9][['Total biller', 'Total perbankan', 'Total pembayaran']] + mtd_deckd.iloc[10][['Total biller', 'Total perbankan', 'Total pembayaran']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row4['Region'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row5['Region'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row6['Region'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
mtd_deckd.loc['Total'] = mtd_deckd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_deckd = pd.concat([mtd_deckd.iloc[:1], sum_row4.to_frame().T, mtd_deckd.iloc[1:]], ignore_index=True)

mtd_deckd = pd.concat([mtd_deckd.iloc[:8], sum_row5.to_frame().T, mtd_deckd.iloc[8:]], ignore_index=True)

mtd_deckd = pd.concat([mtd_deckd.iloc[:11], sum_row6.to_frame().T, mtd_deckd.iloc[11:]], ignore_index=True)



# Melakukan merge berdasarkan 'Region' dan 'District' untuk mendapatkan kolom 'frek'
mtd_deck_finald = mtd_deckd.merge(pivot_kumkur_d[['Region', 'District', 'frek']], 
                                on=['Region', 'District'], 
                                how='left')

# Hapus kolom 'frek' yang duplikat setelah merge
mtd_deck_finald = mtd_deck_finald.loc[:, ~mtd_deck_finald.columns.duplicated()]

# Memindahkan kolom 'frek' ke posisi yang diinginkan
mtd_deck_finald.insert(2, 'frek', mtd_deck_finald.pop('frek'))





mtd_deck_finald.insert(2, 'frek', mtd_deck_finald.pop('frek'))

mtd_deck_finald.rename(columns={'frek': 'Pembayaran Pinjaman (KUM/KUR)'}, inplace=True)
mtd_deck_finald.rename(columns={'Total biller': 'Biller'}, inplace=True)
mtd_deck_finald.rename(columns={'Total perbankan': 'Perbankan'}, inplace=True)

mtd_deck_finald['Pembayaran Pinjaman (Others)']= mtd_deck_finald['Total pembayaran']- mtd_deck_finald['Pembayaran Pinjaman (KUM/KUR)']

mtd_deck_finald.insert(2, 'Pembayaran Pinjaman (KUM/KUR)', mtd_deck_finald.pop('Pembayaran Pinjaman (KUM/KUR)'))
mtd_deck_finald.insert(3, 'Pembayaran Pinjaman (Others)', mtd_deck_finald.pop('Pembayaran Pinjaman (Others)'))




#print(mtd_deck_finald)

In [288]:

# Buat pivot table dengan menambahkan kolom TANGGAL_TRANSAKSI
graph_master = combined_master[combined_master['Jenis'] == 'AGEN']
graph_master = graph_master[graph_master['periode'] == tanggal_terakhir]



# Membuat pivot table
pivot_daily = pd.pivot_table(
    graph_master,
    index='periode', # Kolom index
    columns='descript',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='frek',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='sum',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

#pivot_daily.head()

In [289]:
pembayaran_pinjaman = pivot_daily['PEMBAYARAN PINJAMAN'] + pivot_daily['PEMBAYARAN KARTU KREDIT'] 
setor_tunai = pivot_daily['SETOR TUNAI'] 
tarik_tunai = pivot_daily['TARIK TUNAI']
others = pivot_daily['OTHERS'] + pivot_daily['PEMBAYARAN BILLER'] 
transfer = pivot_daily['TRANSFER']
dect_graf = pd.concat([pembayaran_pinjaman, setor_tunai, tarik_tunai, transfer, others], axis=1)
print(dect_graf)

     0  SETOR TUNAI  TARIK TUNAI  TRANSFER      1
0  750        15023        27170     77445  61639

In [290]:
df= pivot_trx_eda['dat_fre1'].copy()
# Menjumlahkan nilai pada baris yang diinginkan tanpa menggunakan .sum() pada indeks tertentu
sum_selected_rows = df.iloc[0] + df.iloc[2:8].sum() + df.iloc[9:11].sum() + df.iloc[12:18].sum()

df2= mtd_deck_final2.copy()
# Menjumlahkan nilai pada baris yang diinginkan tanpa menggunakan .sum() pada indeks tertentu
sum_selected_rows2 = df2.iloc[0] + df2.iloc[2:8].sum() + df2.iloc[9:11].sum() + df2.iloc[12:18].sum()
# Menjumlahkan nilai dari kolom yang diinginkan
total_sum = (
    sum_selected_rows2['Pembayaran Pinjaman (KUM/KUR)'] +
    sum_selected_rows2['Pembayaran Pinjaman (Others)'] +
    sum_selected_rows2['Perbankan'] +
    sum_selected_rows2['Biller']
)

print("Jumlah total untuk kolom yang diinginkan:", total_sum)

print("Jumlah untuk baris:", sum_selected_rows)

Jumlah total untuk kolom yang diinginkan: 2956186.0
Jumlah untuk baris: 2956.1859999999997

print(mtd_deck_finald)
print(dect_graf)

print(pivot_trx_monthly)
print(pivot_trx_monthly2)
print(pivot_trx_daily2)
print(mtd_deck_final2)
print(pivot_trx_eda)

 # Assuming pivot_trx_daily2 is already defined, let's assign it to column 21 (index 20)
neo_dm = neo_dm.iloc[:18, :]
neo_dm.iloc[:, 10] = pivot_trx_daily2['Bertransaksi'] [:18] 
neo_dm.iloc[:, 11] = pivot_trx_daily2['Tidak Bertransaksi'] [:18] 
neo_dm.iloc[:, 13] = pivot_trx_monthly2['Bertransaksi'] [:18] 
neo_dm.iloc[:, 14] = pivot_trx_monthly2['%'][:18] 

# Optionally, if you want to verify the update:
print(neo_dm.iloc[10:, 1])

# Save the updated neo_dm to the Excel file
neo_dm.to_excel(r'D:\python\00-Master Deck Neo DRR (All Team)-190325.xlsx', sheet_name='ACT-Table (1)', index=False)

# Optionally, if you want to save multiple sheets, you can use the ExcelWriter:
with pd.ExcelWriter(r'D:\python\00-Master Deck Neo DRR (All Team)-16 test.xlsx', engine='xlsxwriter') as writer:
    # Saving the updated neo_dm to 'ACT-Table (1)' sheet
    neo_dm.to_excel(writer, sheet_name='ACT-Table (1)', index=False)
    
    # Assuming you also want to save other dataframes (e.g., neo_table and neo_grap):
    neo_table.to_excel(writer, sheet_name='ACT-Table (2)', index=False)
    neo_grap.to_excel(writer, sheet_name='ACT-Trx All Tools', index=False)

In [291]:
detail_transaction2['JENIS_TRANSAKSI_2'] = detail_transaction2['JENIS_TRANSAKSI_2'].fillna('Blank')

# Membuat pivot table
pivot_absm = pd.pivot_table(
    detail_transaction2,
    index='Reg_dist',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'JENIS_TRANSAKSI_2' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

#print(pivot_absd)

In [292]:
pivot_absm = pivot_absm.rename(columns={'Pembayaran': 'Biller'})
#pivot_absd.columns

In [293]:

#perbankan
perbankan = pivot_absm.reindex(columns=['Setor Tunai', 'Tarik Tunai',  'Transfer Bank Lain', 'Transfer Mandiri'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Perbankan')


# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_absm= pd.concat([pivot_absm['Reg_dist'], pivot_absm['Blank'], pivot_absm['Biller'], perbankan], axis=1)
selected = ['Reg_dist', 'Blank','Perbankan', 'Biller']
mtd_absm= mtd_absm[selected]

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
mtd_absm.loc['Total'] = mtd_absm.select_dtypes(include='number').sum()


##tambah column
sum_row7a = mtd_absm.iloc[1][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[2][['Blank','Biller', 'Perbankan']]
sum_row8a = mtd_absm.iloc[7][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[8][['Blank','Biller', 'Perbankan']]
sum_row9a = mtd_absm.iloc[9][['Blank','Biller', 'Perbankan']] + mtd_absm.iloc[10][['Blank','Biller', 'Perbankan']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row7a['Reg_dist'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row8a['Reg_dist'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row9a['Reg_dist'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
#mtd_absd.loc['Total'] = mtd_absd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_absm = pd.concat([mtd_absm.iloc[:1], sum_row7a.to_frame().T, mtd_absm.iloc[1:]], ignore_index=True)

mtd_absm = pd.concat([mtd_absm.iloc[:8], sum_row8a.to_frame().T, mtd_absm.iloc[8:]], ignore_index=True)

mtd_absm = pd.concat([mtd_absm.iloc[:11], sum_row9a.to_frame().T, mtd_absm.iloc[11:]], ignore_index=True)


#print(mtd_absm)

In [294]:
detail_transaction= detail_transaction2.copy()

In [295]:
detail_transaction.columns

Index(['KODE_AGEN', 'NAMA_AGEN', 'Tools', 'KC', 'Cabang', 'Cluster', 'Area',
       'Region', 'Reg_dist', 'TANGGAL_TRANSAKSI', 'WAKTU_TRANSAKSI',
       'JENIS_TRANSAKSI', 'JENIS_TRANSAKSI_2', 'KODE_TRANSAKSI', 'TRANCODE',
       'TRANSACTION_NUMBER', 'REKENING_DEBIT', 'REKENING_KREDIT',
       'BILLER_NAME', 'TRX_TYPE', 'FREK', 'AMOUNT', 'Cek Gaming',
       'KOMISI_AGEN', 'PPN', 'PPH', 'POL_FEE', 'SWITCHER', 'ACQUIRER',
       'TRANSACTION_FEE', 'TOTAL_TRANSACTION_AMOUNT', 'TRANSACTION_REVERSAL',
       'FBI', 'KOMISI_PERBANKAN', 'TOTAL_FEE', 'UMA'],
      dtype='object')

In [296]:
detail_transaction['JENIS_TRANSAKSI_2'] = detail_transaction['JENIS_TRANSAKSI_2'].fillna('Blank')

In [297]:
print(detail_transaction['JENIS_TRANSAKSI_2'].unique())

['Pembayaran' 'Transfer Bank Lain' 'Setor Tunai' 'Transfer Mandiri'
 'Blank' 'Tarik Tunai']

In [298]:
# Filter berdasarkan 'Jenis' == 'AGEN'
tanggal_terakhir2 = detail_transaction['TANGGAL_TRANSAKSI'].max()
#tanggal_terakhir2 ='21032025'
detail_transaction = detail_transaction[detail_transaction['TANGGAL_TRANSAKSI'] == tanggal_terakhir2]

In [299]:
# Membuat pivot table
pivot_absd2 = pd.pivot_table(
    detail_transaction,
    index='Reg_dist',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'JENIS_TRANSAKSI_2' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

print(pivot_absd2)

JENIS_TRANSAKSI_2                                       Reg_dist  Blank  \
0                              K01-WILAYAH I/ MEDAN-non-District      4
1                       K02-WILAYAH II/ PALEMBANG-District Jambi    105
2                   K02-WILAYAH II/ PALEMBANG-District Palembang     54
3                     K03-WILAYAH III/ JAKARTA KOTA-non-District      9
4                   K04-WILAYAH IV/ JAKARTA THAMRIN-non-District      0
5                   K05-WILAYAH V/ JAKARTA SUDIRMAN-non-District     10
6                           K06-WILAYAH VI/ BANDUNG-non-District     20
7                    K07-WILAYAH VII/ SEMARANG-District Semarang     27
8                  K07-WILAYAH VII/ SEMARANG-District Yogyakarta      6
9                     K08-WILAYAH VIII/ SURABAYA-District Malang     36
10                  K08-WILAYAH VIII/ SURABAYA-District Surabaya     14
11                      K09-WILAYAH IX/ BANJARMASIN-non-District     15
12                          K10-WILAYAH X/ MAKASSAR-non-District     21
13                         K11-WILAYAH XI/ DENPASAR-non-District      7
14                        K12-WILAYAH XII/ JAYAPURA-non-District      5

JENIS_TRANSAKSI_2  Pembayaran  Setor Tunai  Transfer Bank Lain  \
0                        2997         1181                 854
1                        1179          715                 419
2                        2216          956                 565
3                        3297          523                 320
4                         956          195                 212
5                        1283          283                 249
6                        5581         1339                 992
7                        1285          673                 304
8                         710          254                 248
9                         804          769                 356
10                        783          349                 161
11                       2138          900                 935
12                       1335          608                 788
13                        849          346                 327
14                        912          457                 750

JENIS_TRANSAKSI_2  Transfer Mandiri
0                               825
1                               277
2                               492
3                               242
4                               269
5                               188
6                              1189
7                               481
8                               148
9                               546
10                              227
11                              641
12                              596
13                              207
14                              357

In [300]:
pivot_absd2.columns

Index(['Reg_dist', 'Blank', 'Pembayaran', 'Setor Tunai', 'Transfer Bank Lain',
       'Transfer Mandiri'],
      dtype='object', name='JENIS_TRANSAKSI_2')

In [301]:
print(tanggal_terakhir)

20250319

In [302]:
pivot_absd2.columns
pivot_absd2 = pivot_absd2.rename(columns={'Pembayaran': 'Biller'})
pivot_absd2.columns

Index(['Reg_dist', 'Blank', 'Biller', 'Setor Tunai', 'Transfer Bank Lain',
       'Transfer Mandiri'],
      dtype='object', name='JENIS_TRANSAKSI_2')

In [303]:

#perbankan
perbankan = pivot_absd2.reindex(columns=['Setor Tunai', 'Tarik Tunai',  'Transfer Bank Lain', 'Transfer Mandiri'], fill_value=0).sum(axis=1).astype('int64')
perbankan = perbankan.to_frame(name='Perbankan')


# Menampilkan DataFrame setelah penambahan MultiIndex
mtd_absd= pd.concat([pivot_absd2['Reg_dist'], pivot_absd2['Blank'], pivot_absd2['Biller'], perbankan], axis=1)
selected = ['Reg_dist', 'Blank','Perbankan', 'Biller']
mtd_absd= mtd_absd[selected]

# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
mtd_absd.loc['Total'] = mtd_absd.select_dtypes(include='number').sum()


##tambah column
sum_row7 = mtd_absd.iloc[1][['Blank','Biller', 'Perbankan']] + mtd_absd.iloc[2][['Blank','Biller', 'Perbankan']]
sum_row8 = mtd_absd.iloc[7][['Blank','Biller', 'Perbankan']] + mtd_absd.iloc[8][['Blank','Biller', 'Perbankan']]
sum_row9 = mtd_absd.iloc[9][['Blank','Biller', 'Perbankan']] + mtd_absd.iloc[10][['Blank','Biller', 'Perbankan']]
# Membuat baris baru yang berisi hasil jumlah dari baris ke-3 dan ke-4
sum_row7['Reg_dist'] = 'K02-WILAYAH II/ PALEMBANG'  # Menambahkan label untuk baris baru
#sum_row4['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row8['Reg_dist'] = 'K07-WILAYAH VII/ SEMARANG'  # Menambahkan label untuk baris baru
#sum_row5['District'] = ''  # Kosongkan kolom District jika diperlukan
sum_row9['Reg_dist'] = 'K08-WILAYAH VIII/ SURABAYA'  # Menambahkan label untuk baris baru
#sum_row6['District'] = ''  # Kosongkan kolom District jika diperlukan


# Menambahkan baris 'Total' yang menghitung jumlah untuk setiap kolom, pastikan hanya numeric columns yang dijumlahkan
#mtd_absd.loc['Total'] = mtd_absd.select_dtypes(include='number').sum()

# Menambahkan baris jumlah ke-2 (baris baru) ke pivot_trx_eda
mtd_absd = pd.concat([mtd_absd.iloc[:1], sum_row7.to_frame().T, mtd_absd.iloc[1:]], ignore_index=True)

mtd_absd = pd.concat([mtd_absd.iloc[:8], sum_row8.to_frame().T, mtd_absd.iloc[8:]], ignore_index=True)

mtd_absd = pd.concat([mtd_absd.iloc[:11], sum_row9.to_frame().T, mtd_absd.iloc[11:]], ignore_index=True)


print(mtd_absd)

                                         Reg_dist  Blank Perbankan   Biller
0               K01-WILAYAH I/ MEDAN-non-District    4.0    2860.0   2997.0
1                       K02-WILAYAH II/ PALEMBANG  159.0    3424.0   3395.0
2        K02-WILAYAH II/ PALEMBANG-District Jambi  105.0    1411.0   1179.0
3    K02-WILAYAH II/ PALEMBANG-District Palembang   54.0    2013.0   2216.0
4      K03-WILAYAH III/ JAKARTA KOTA-non-District    9.0    1085.0   3297.0
5    K04-WILAYAH IV/ JAKARTA THAMRIN-non-District    0.0     676.0    956.0
6    K05-WILAYAH V/ JAKARTA SUDIRMAN-non-District   10.0     720.0   1283.0
7            K06-WILAYAH VI/ BANDUNG-non-District   20.0    3520.0   5581.0
8                       K07-WILAYAH VII/ SEMARANG   33.0    2108.0   1995.0
9     K07-WILAYAH VII/ SEMARANG-District Semarang   27.0    1458.0   1285.0
10  K07-WILAYAH VII/ SEMARANG-District Yogyakarta    6.0     650.0    710.0
11                     K08-WILAYAH VIII/ SURABAYA   50.0    2408.0   1587.0
12     K08-WILAYAH VIII/ SURABAYA-District Malang   36.0    1671.0    804.0
13   K08-WILAYAH VIII/ SURABAYA-District Surabaya   14.0     737.0    783.0
14       K09-WILAYAH IX/ BANJARMASIN-non-District   15.0    2476.0   2138.0
15           K10-WILAYAH X/ MAKASSAR-non-District   21.0    1992.0   1335.0
16          K11-WILAYAH XI/ DENPASAR-non-District    7.0     880.0    849.0
17         K12-WILAYAH XII/ JAYAPURA-non-District    5.0    1564.0    912.0
18                                            NaN  333.0   23713.0  26325.0

In [304]:
abs_daily.columns

Index(['TANGGAL_TRANSAKSI', 'Blank', 'Pembayaran', 'Setor Tunai',
       'Transfer Bank Lain', 'Transfer Mandiri', 'Tarik Tunai'],
      dtype='object', name='JENIS_TRANSAKSI_2')

In [305]:
import pandas as pd

# Membuat pivot table
abs_daily = pd.pivot_table(
    detail_transaction,
    index='TANGGAL_TRANSAKSI',  # Kolom index
    columns='JENIS_TRANSAKSI_2',  # Memindahkan 'flag_angsuran' ke dalam kolom
    values='KODE_AGEN',  # Kolom yang ingin dihitung (di sini dihitung jumlahnya)
    aggfunc='count',  # Fungsi agregasi untuk menghitung jumlah
    fill_value=0  # Mengisi nilai kosong dengan 0
).reset_index()

# Mengambil kolom sesuai jenis transaksi
pembayaran_pinjaman = abs_daily['Blank']
setor_tunai = abs_daily['Setor Tunai']

# Menambahkan kolom 'Tarik Tunai' jika tidak ada
if 'Tarik Tunai' not in abs_daily.columns:
    abs_daily['Tarik Tunai'] = 0
tarik_tunai = abs_daily['Tarik Tunai']

# Menggabungkan Transfer Mandiri dan Transfer Bank Lain
transfer = abs_daily['Transfer Mandiri'] + abs_daily['Transfer Bank Lain']

# Menambahkan kolom Others (Pembayaran)
others = abs_daily['Pembayaran']

# Menggabungkan semua kolom ke dalam satu DataFrame
abs_graf = pd.concat([pembayaran_pinjaman, setor_tunai, tarik_tunai, transfer, others], axis=1)

# Menambahkan nama kolom untuk mempermudah pemahaman
abs_graf.columns = ['Pembayaran Pinjaman', 'Setor Tunai', 'Tarik Tunai', 'Transfer', 'Others']

# Menampilkan DataFrame akhir
print(abs_graf)

   Pembayaran Pinjaman  Setor Tunai  Tarik Tunai  Transfer  Others
0                  333         9548            0     14165   26325

In [306]:
# Ekspor ke file Excel dengan dua sheet (TRX 01-19 dan TRX 20-30)
with pd.ExcelWriter(file_path2) as writer:
    pivot_trx_daily2.to_excel(writer, sheet_name='Daily trx', index=False)
    pivot_trx_monthly2.to_excel(writer, sheet_name='monthly trx', index=False)
    pivot_trx_monthly.to_excel(writer, sheet_name='trx tier monthly', index=False)
    pivot_trx_eda.to_excel(writer, sheet_name='trx sv', index=False)
    mtd_deck_finald.to_excel(writer, sheet_name='dect act daily', index=False)
    mtd_deck_final2.to_excel(writer, sheet_name='dect act monthly', index=False)
    dect_graf.to_excel(writer, sheet_name='dect_graf', index=False)
    abs_graf.to_excel(writer, sheet_name='abs_graf', index=False)
    mtd_absd.to_excel(writer, sheet_name='daily_abs', index=False)
    mtd_absm.to_excel(writer, sheet_name='monthly_abs', index=False)

print(f"Data berhasil diekspor ke: {file_path2}")

Data berhasil diekspor ke: D:\python\DRR_24032025.xlsx

In [307]:
eda_trx['periode'].max()

20250319